/* ============================= */
/*     # VARIABLES: COLORES     */
/* ============================= */

:root {
    --gris: #D7DEE8;
    --azul-claro: #699AFF;
    --azul-medio: #4D7ECA;
    --azul-oscuro: #29588F;
    --blanco: #FFFFFF;
    --negro: #000000;
}


/* ============================= */
/*     # COMPONENTE: GLOBALES   */
/* ============================= */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body,
html {
    overflow-x: hidden;
}


/* ============================= */
/*     # COMPONENTE: NAVBAR     */
/* ============================= */

/* ===== # NAVBAR: CLASES ===== */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--gris);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: var(--gris);
}

.title-header {
    color: var(--azul-oscuro);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 2rem;
}

.title-header span {
    font-weight: 800;
}

.logo {
    margin-left: 2rem;
    height: 40px;
    width: 200px;
}

.options {
    display: flex;
    gap: 3rem;
    margin: 0rem 1.5rem;
    align-items: center;
}

.options a {
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--azul-oscuro);
}

.options li {
    list-style: none;
    transition: .5s;
}

.options li:hover {
    color: var(--blanco);
    background-color: var(--azul-oscuro);
    padding: 6px 20px;
    border-radius: 50px;
    transition: .5s;
}

.icon-profile {
    font-size: 2rem;
}

.burger {
    display: none;
}

/* ===== # NAVBAR: MEDIA QUERIES ===== */

@media (max-width: 1090px) {
    .options {
        display: none;
    }

    .burger {
        display: block;
        margin-right: 2rem;
        font-size: 40px;
        color: var(--azul-oscuro);
        transition: 0.10s;
    }

    .burger:hover {
        cursor: pointer;
        color: var(--azul-claro);
        transition: 0.10s;
    }
}

@media (max-width: 1150px) {
    .title-header {
        font-size: 1.2rem;
    }
}


/* ============================= */
/*     # COMPONENTE: HERO       */
/* ============================= */

.hero {
    width: 100%;
    height: 65vh;
    min-height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--azul-oscuro);
    margin-top: 4rem;
}

#hero-emprendimientos-generales {
    height: 50vh;
}

#hero-emprendimientos-especificos {
    height: 40vh;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 0 2%;
}

.hero-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/assets/images/hero/Emprendimientos.png');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 1;
}

#hero-background-emprendimientos-especificos {
    background-image: url(../../assets/images/emprendimientos/coverPhotos/SANTO\ PECADO.jpg);
}

.hero-title {
    color: var(--blanco);
    font-size: 7vw;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: 1vw;
    text-transform: uppercase;
    padding: 0 5%;
    line-height: 1.2;
    padding: auto;
}

#hero-title-emprendimientos-especificos {
    text-align: left;
    margin-bottom: 0%;
    padding: 0%;
    width: auto;
    max-width: 90%;
}

@media (max-width: 1200px) {
    #hero-title-emprendimientos-especificos {
        font-size: 8vw;
    }
}

@media (max-width: 700px) {
    #hero-emprendimientos-especificos {
        height: 20vh;
    }
}

@media (max-width: 830px) {
    .hero {
        height: 30vw;
        min-height: 220px;
    }
}

/* ============================= */
/*   EMPRENDIMIENTOS GENERALES   */
/* ============================= */

.descubre-nuestros-emprendimientos {
    height: 42.5vh;
    text-align: center;
    padding: 0 12%;
    padding-top: 8%;
}

.descubre-nuestros-emprendimientos h2 {
    color: var(--azul-oscuro);
    font-size: 32px;
    font-weight: 400;
}

/* ============================= */
/*     # COMPONENTE: CARDS      */
/* ============================= */

/* Introducción a los cards */
.introduccion-a-cards {
    height: 10vh;
    padding: 0 2%;
    padding-top: 4%;

}

.introduccion-a-cards p {
    color: var(--azul-oscuro);
    font-size: 28px;
}

#nuevas-propuestas {
    text-align: right;
}

/* Cards */

.exterior-advertisement-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
}

.advertisement-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 60%;
}


/* Segunda sección de cards */
#cards-to-the-left .advertisement-container {
    margin-left: 0;
    margin-right: 15%;
} 

#cards-to-the-left {
    margin-bottom: 10%;
}

.card {
    height: 450px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 6px 12px #29598f91;
    transition: all 0.3s ease-out;
    min-width: 200px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("../../assets/images/emprendimientos/logos/Calle\ 33.png");
    height: 70%;
}

#la-chismosa .card-image {
    background-image: url(../../assets/images/emprendimientos/logos/La\ Chismosa.png);
}

#santo-pecado .card-image {
    background-image: url(../../assets/images/emprendimientos/logos/Santo\ Pecado.png);
}

#beer-factory .card-image {
    background-image: url(../../assets/images/emprendimientos/logos/Beer\ Factory.png);
}

#la-central .card-image{
    background-image: url(../../assets/images/emprendimientos/logos/La\ Central.png);
}

#sasta-pub .card-image{
    background-image: url(../../assets/images/emprendimientos/logos/Sasta\ Pub.png);
}

#samadhi .card-image {
    background-image: url(../../assets/images/emprendimientos/logos/Samadhi.jpg);
}

.card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30%;
    margin-left: 10%;
}

.card-title {
    color: var(--azul-oscuro);
    font-size: 1.5rem;
    font-weight: bold;
}

.card-subtitle {
    color: var(--azul-oscuro);
    font-size: 0.9rem;
}

/* ===== # CARDS: MEDIA QUERIES ===== */

@media (max-width: 1400px) {
    .advertisement-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1035px) {
    .advertisement-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 679px) {
    .advertisement-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.conoce-nuestros-emprendimientos {
    height: 100vh;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8%;
}

.conoce-nuestros-emprendimientos h1 {
    color: var(--azul-oscuro);
    font-size: 44px;
    text-align: center;
    width: 100%;
}

.construyendo-una-comunidad {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8%;
}

.construyendo-una-comunidad h1 {
    color: var(--azul-oscuro);
    font-size: 44px;
    text-align: center;
    font-weight: 400;
    width: 100%;
}

/* ============================= */
/*  EMPRENDIMIENTOS ESPECÍFICOS  */
/* ============================= */

/* General */
.enterprise-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 50vh;
}

.enterprise-info h1 {
    color: var(--azul-oscuro);
    font-size: 24px;
    font-weight: 900;
    cursor: default;
}

.enterprise-info p {
    color: var(--azul-oscuro);
    font-size: 18px;
    margin-top: 4%;
    cursor: default;
}

/* Izquierda */
.enterprise-info-left {
    width: 100%;
    height: 100%;
    padding: 8% 10%;
    padding-right: 20%;
}

.enterprise-top-left {
    weight: 100%;
    height: 80%;
}

.enterprise-bottom-left {
    weigth: 100%;
    height: 30%;
}

.enterprise-location h1 {
    margin-bottom: 4%;
}

.enterprise-location a {
    text-decoration: none;
    color: var(--azul-oscuro);
    font-size: 18px;
    display: inline;
}

.enterprise-location a:hover {
    color: var(--azul-claro);
}



/* Derecha */
.enterprise-info-right {
    width: 100%;
    height: 100%;
    padding: 8% 10%;
    padding-right: 20%;
}

.enterprise-top-right {
    weight: 100%;
    height: 80%;
}

.enterprise-schedules {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.enterprise-bottom-right {
    weigth: 100%;
    height: 30%;
}

.area-code {
    display: inline;
}

.enterprise-phone .area-code {
    color: var(--azul-claro);
}

.phone-number {
    display: inline;

}

.enterprise-phone h1 {
    margin-bottom: 4%;
}

@media (max-width: 1200px) {
    .enterprise-info {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        text-align: center;
    }

    /* Izquierda */
    .enterprise-info-left {
        width: 100%;
        height: 50%;
        padding: 2% 4%;
        margin: 0%;
    }

    .enterprise-top-left {
        margin-bottom: 2%;
        padding: 0 12%;
    }

    /* Derecha */
    .enterprise-info-right {
        width: 100%;
        height: 50%;
        padding: 2% 4%;
        margin: 0%;
    }

    /* General */
    .enterprise-top-left .enterprise-bottom-left .enterprise-top-right .enterprise-bottom-right {
        width: 100%;
        height: auto;
    }

    .enterprise-info p {
        margin-top: 0.5%;
    }

    /* Derecha */
    .enterprise-top-right {
        margin-bottom: 2%;
    }

    /* Días y Horas */
    .enterprise-days {
        text-align: right;
        padding-right: 6%;
    }

    .enterprise-hours {
        text-align: left;
        padding-left: 1.5%;
    }

    .enterprise-phone h1 {
        margin-bottom: 1%;
    }

    .enterprise-phone p {
        font-size: 20px;
    }

}

@media (max-width: 430px) {

    /* General */
    .enterprise-info h1 {
        font-size: 18px;
    }

    .enterprise-info p {
        font-size: 12px;
    }

    /* Izquierda */
    .enterprise-top-left {
        padding: 0% 8%;
        padding-top: 8%;
        padding-bottom: 4%;
    }

    .enterprise-bottom-left {
        padding: 4% 8%;
    }

    .enterprise-bottom-left h1 {
        margin-bottom: 4%;
    }

    .enterprise-location a {
        font-size: 12px;
    }

    /* Derecha */
    .enterprise-info-right {
        padding: 0% 20%;
    }

    .enterprise-top-right {
        padding: 4% 1%;
    }

    .enterprise-top-right h1 {
        margin-bottom: 4%;
    }

    .enterprise-top-right p {
        font-size: 12px;
    }

    .enterprise-days {
        text-align: center;
        padding-right: 0%;
    }

    .enterprise-hours {
        text-align: center;
        padding-left: 0%;
    }

    .enterprise-bottom-right {
        padding: 8% 8%;
    }

    .enterprise-phone h1 {
        margin-bottom: 4%;
    }

    .enterprise-phone p {
        font-size: 16px;
    }
}

/* ============================= */
/*     # COMPONENTE: FOOTER     */
/* ============================= */

.exterior-site-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(215, 222, 232, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.site-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    width: 80%;
    max-height: auto;
    bottom: 0;
    gap: 4vh;
    margin: 45px auto;
    margin-top: 60px;
}

.site-footer a {
    color: var(--azul-oscuro);
    text-decoration: none;
}

.site-footer a:hover {
    color: var(--azul-claro);
    text-decoration: none;
    transition: 0.10s;
}

.slogan-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    text-align: start;
}

.text-logos h1 {
    color: var(--azul-oscuro);
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px auto;
}

.text-logos h1 span {
    font-weight: 800;
}

.text-logos h3 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--azul-medio);
    margin: 10px auto 15px;
}

.text-logos p {
    margin-bottom: 0.5rem;
    font-size: 1.18rem;
    color: var(--azul-oscuro);
    margin: 5px auto;
}

.links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--azul-oscuro);
    margin: 45px auto;
    padding: 0px 70px 0px 0px;
}

.ayuda-container,
.comunidad-container,
.contactenos-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.arrow-container i {
    display: none;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 4vh;
    width: 100%;
    font-size: 29px;
    color: var(--blanco);
}

.icon-container i {
    color: var(--blanco);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--azul-medio);
    transition: .5s;
}

.circle:hover {
    transition: 0.10s;
    background-color: var(--azul-oscuro);
}

.copyright-container {
    display: flex;
    height: 6vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--azul-medio);
    color: var(--blanco);
    font-size: 1.3rem;
}


/* ===== # FOOTER: MEDIA QUERIES ===== */

@media (max-width: 1100px) {
    .slogan-container {
        margin-top: 0rem;
        text-align: center;
    }

    .text-logos h1 {
        font-size: 2.2rem;
    }

    .text-logos h3 {
        font-size: 1.5rem;
    }

    .text-logos p {
        font-size: 1rem;
        width: 90%;
    }

    .links-container {
        padding: 0px;
    }

    .ayuda-container,
    .comunidad-container,
    .contactenos-container {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .slogan-container {
        margin-top: 0rem;
    }

    .text-logos h1 {
        font-size: 1.5rem;
    }

    .text-logos h3 {
        font-size: 1.2rem;
    }

    .text-logos p {
        font-size: 1rem;
        text-align: justify;
    }

    .ayuda-container,
    .comunidad-container,
    .contactenos-container {
        font-size: 1rem;
    }

    .links-container {
        flex-direction: column;
        align-items: start;
        gap: 2rem;
        padding: 0px 0px 0px 15px;
    }

    .links-container a {
        display: none;
    }

    .arrow-container {
        display: flex;
        align-items: center;
    }

    .arrow-container:hover {
        cursor: pointer;
        color: var(--azul-claro);
    }

    .arrow-container i {
        display: flex;
        align-items: center;
        font-size: 35px;
    }

    .circle {
        width: 25px;
        height: 25px;
        padding: 20px;
    }

    .copyright-container {
        font-size: .8rem;
    }
}