<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Comunidad Conectada</title>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!--Header/Footer CSS-->
    <link rel="stylesheet" href="../../../assets/styles/global.css">
    <link rel="stylesheet" href="anuncio.css">
</head>

<body>
    <header>
        <nav class="menu">

            <h1 class="title-header">
                Comunidad <span>Conectada</span>
            </h1>
            <ul class="options">
                <a href="../feed/feed.html">
                    <li>INICIO</li>
                </a>
                <a href="../evento/evento.html">
                    <li>EVENTO</li>
                </a>
                <a href="../anuncio/anuncio.html">
                    <li>ANUNCIO</li>
                </a>
                <a href="../emprendimiento/emprendimiento.html">
                    <li>EMPRENDIMIENTO</li>
                </a>
                <a href="../transporte/transporte.html">
                    <li>TRANSPORTE</li>
                </a>
                <a href="../../forms/form-reporte/form-reporte.html">
                    <li>REPORTES</li>
                </a>
                <a>
                    <i class="ri-account-circle-fill icon-profile"></i>
                </a>
            </ul>
            <div class="burger"><i class="ri-menu-line"></i></div>
        </nav>
    </header>

    <!-- Hero -->
    <section class="hero">
        <div class="hero-background"></div>
        <h1 class="hero-title">anuncio</h1>
    </section>


    <div class="title-container">
        <h1>ANUNCIO DE LA COMUNIDAD</h1>
        <div class="title-text-container">
            <p>¡Bienvenidos al tablero oficial de anuncio de {Cantón, Provincia}, Costa Rica! Aquí reunimos los avisos
                importantes del barrio y la comunidad: cortes de luz, ferias del agricultor, bingos benéficos, misas,
                actividades deportivas, reuniones comunales y mucho más.</p>
        </div>

    </div>


    <!-- anuncio -->
    <section class="exterior-advertisement-container">

        <div class="advertisement-container">
            <!-- anuncio -->
            <div class="route-card">
                <div class="left-bar"></div>
                <div class="card-content">
                    <div class="announce-card-title">
                        <h3>Suspensión del servicio de basura</h3>
                    </div>
                    <div class="route-details">
                        <p><strong>Horarios:</strong> Miércoles 10 de julio</p>
                        <p><strong>Ubicación:</strong> San Rafael de Escazú</p>
                    </div>
                </div>
            </div>

            <div class="route-card">

                <div class="left-bar"></div>

                <div class="card-content">
                    <a href="anuncio-user.html">
                        <h3>Corte programado de electricidad</h3>
                    </a>
                    <div class="route-details">
                        <p><strong>Horarios:</strong> Domingo 14 de julio</p>
                        <p><strong>Ubicación:</strong> Guachipelín de Escazú</p>
                    </div>
                </div>

            </div>


            <div class="route-card">
                <div class="left-bar"></div>
                <div class="card-content">
                    <h3>Accidente vial en ruta a San Antonio</h3>
                    <div class="route-details">
                        <p><strong>Horarios:</strong> Sin hora estimada de habilitación</p>
                        <p><strong>Ubicación:</strong> Entrada a San Antonio de Escazú</p>
                    </div>
                </div>
            </div>

            <div class="route-card">
                <div class="left-bar"></div>
                <div class="card-content">
                    <h3>Cierre del puente peatonal en Bello Horizonte</h3>
                    <div class="route-details">
                        <p><strong>Horarios:</strong> Del 8 al 11 de julio</p>
                        <p><strong>Ubicación:</strong> Bello Horizonte de Escazú</p>
                    </div>
                </div>
            </div>

            <div class="route-card">
                <div class="left-bar"></div>
                <div class="card-content">
                    <h3>Fumigación en el Parque Central</h3>
                    <div class="route-details">
                        <p><strong>Horarios:</strong> Miércoles 10 de julio</p>
                        <p><strong>Ubicación:</strong> Parque Central de Escazú</p>
                    </div>
                </div>
            </div>

            <div class="route-card">
                <div class="left-bar"></div>
                <div class="card-content">
                    <h3>Carrera recreativa – Cierre de calles</h3>
                    <div class="route-details">
                        <p><strong>Horarios:</strong> Domingo 14 de julio</p>
                        <p><strong>Ubicación:</strong> Calles principales de Escazú Centro</p>
                    </div>
                </div>
            </div>

            <div class="route-card">
                <div class="left-bar"></div>
                <div class="card-content">
                    <h3>Caída de árbol – Calle cerrada</h3>
                    <div class="route-details">
                        <p><strong>Horarios:</strong> Martes 9 de julio</p>
                        <p><strong>Ubicación:</strong> Calle Las Palmas, Escazú Centro</p>
                    </div>
                </div>
            </div>


        </div>

    </section>

    <section class="publish-event-container">
        <div class="publish-event-text-container">


            <h2>¿TE GUSTARÍA PUBLICAR TÚ</h2>
            <h1>ANUNCIO?</h1>
            <a href="../../forms/form-anuncio/form-anuncio.html">
                <button>Haz Clic Aquí</button>
            </a>

        </div>

        <div class="publish-event-text-container">
            <p>Este espacio está diseñado especialmente para que cualquier miembro de la comunidad pueda compartir
                información importante, ya sea sobre accidentes, calles cerradas, servicios,
                o cualquier otro mensaje relevante.</p>
        </div>

    </section>

    <div class="title-container">
        <h1>evento POPULARES</h1>
    </div>
    <section class="exterior-advertisement-container">

        <div class="advertisement-container">
            <!-- Card -->
            <div class="route-card">
                <div class="left-bar"></div>
                <div class="card-content">
                    <h3>Horario especial – Administración Santa Bárbara</h3>
                    <div class="route-details">
                        <p><strong>Horarios:</strong> Viernes, 8:00 a.m. - 12:00 m.d.</p>
                        <p><strong>Ubicación:</strong> Oficina Municipal</p>
                    </div>
                </div>
            </div>

            <div class="route-card">
                <div class="left-bar"></div>
                <div class="card-content">
                    <h3>Suspensión del servicio eléctrico</h3>
                    <div class="route-details">
                        <p><strong>Horarios:</strong> Domingo, 7:00 a.m. - 11:00 a.m.</p>
                        <p><strong>Ubicación:</strong> San Pedro, Heredia</p>
                    </div>
                </div>
            </div>

            <div class="route-card">
                <div class="left-bar"></div>
                <div class="card-content">
                    <h3>Accidente cerca de salida a Barva</h3>
                    <div class="route-details">
                        <p><strong>Horarios:</strong> Tránsito lento por tiempo indefinido</p>
                        <p><strong>Ubicación:</strong> Ruta a Barva Centro</p>
                    </div>
                </div>
            </div>

            <div class="route-card">
                <div class="left-bar"></div>
                <div class="card-content">
                    <h3>Cierre del puente de La Castilla</h3>
                    <div class="route-details">
                        <p><strong>Horarios:</strong> Del 10 al 12 de julio</p>
                        <p><strong>Ubicación:</strong> Ruta San Francisco - La Castilla</p>
                    </div>
                </div>
            </div>
    </section>

    <footer>
        <div class="exterior-site-footer">
            <div class="site-footer">
                <!--Slogan -->

                <section class="slogan-container">
                    <div class="text-logos">
                        <h1>Comunidad <span>Conectada</span></h1>
                        <h3>Fortaleciendo Comunidades, Forjando Conexiones</h3>
                        <p>Somos el sitio web que te permite estar al tanto de los evento, conocer emprendimiento y al
                            mismo tiempo, ser escuchado(a)...</p>
                    </div>
                </section>
                <section class="links-container">
                    <!--Ayuda-->
                    <div class="ayuda-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>SERVICIOS</h4>
                        </div>
                        <a href="../../public-views/evento/evento.html">Evento</a>
                        <a href="../../forms/form-reporte/form-reporte.html">Reportes</a>
                        <a href="../../public-views/calendario/calendario.html">Calendario</a>
                    </div>
                    <!--Comunidad-->
                    <div class="comunidad-container">

                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>COMUNIDAD</h4>
                        </div>

                        <a href="../../public-views/feed/feed.html">Inicio</a>
                        <a href="../../public-views/anuncio/anuncio.html">Anuncio</a>
                        <a href="../../public-views/emprendimiento/emprendimiento.html">Emprendimiento</a>
                        <a href="../../public-views/transporte/transporte.html">Transporte</a>
                    </div>
                    <!--Contáctenos-->
                    <div class="contactenos-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>CONTÁCTENOS</h4>
                        </div>
                        <div class="contact-info-container">
                            <p href="">Teléfono </p>
                            <p href="">(+506) 2222 2222</p>
                            <p href="">Correo Electrónico</p>
                            <p href="">comu@conectada.com</p>
                        </div>
                    </div>
                </section>

                <!--Redes sociales-->
                <section class="icon-container">
                    <span class="circle"><a href="https://mail.google.com/mail/u/0/#inbox"><i
                                class="ri-at-line"></i></a></span>
                    <span class="circle"><a
                            href="https://api.whatsapp.com/message/TVM3RN532LFSM1?autoload=1&app_absent=0"><i
                                class="ri-phone-line"></i></a></span>
                    <span class="circle"><a
                            href="https://www.facebook.com/p/San-Rafael-es-Pura-Vida-100092185267522/"><i
                                class="ri-facebook-circle-fill"></i></a></span>
                    <span class="circle"><a href="https://www.instagram.com/sanra_es_puravida1885/"><i
                                class="ri-instagram-line"></i></a></span>
                    <span class="circle"><a href="https://x.com/ldacr"><i class="ri-twitter-x-line"></i></a></span>
                </section>
            </div>
        </div>
        <!--Copyright-->
        <section class="copyright-container">
            <p>Copyright © TITÍ CODE 2025. All Rights Reserved.</p>
        </section>
    </footer>
</body>

</html>