<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emprendimiento Generales</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!--Header/Footer CSS-->
    <link rel="stylesheet" href="../../../assets/styles/global.css">
    <link rel="stylesheet" href="emprendimiento.css">
</head>

<body>
    <header>
        <nav class="menu">

            <h1 class="title-header">
                Comunidad <span>Conectada</span>
            </h1>
            <ul class="options">
                <a href="../feed/feed.html">
                    <li>INICIO</li>
                </a>
                <a href="../evento/evento.html">
                    <li>EVENTO</li>
                </a>
                <a href="../anuncio/anuncio.html">
                    <li>ANUNCIO</li>
                </a>
                <a href="../emprendimiento/emprendimiento.html">
                    <li>EMPRENDIMIENTO</li>
                </a>
                <a href="../transporte/transporte.html">
                    <li>TRANSPORTE</li>
                </a>
                <a href="../../forms/form-reporte/form-reporte.html">
                    <li>REPORTES</li>
                </a>
                <a href="../../admin/panel-admin/panel-admin.html">
                    <i class="ri-account-circle-fill icon-profile"></i>
                </a>
            </ul>
            <div class="burger"><i class="ri-menu-line"></i></div>
        </nav>
    </header>



    <!-- ========================= -->
    <!-- EMPRENDIMIENTOS GENERALES -->
    <!-- ========================= -->

    <!-- hero -->
    <section class="hero" id="hero-emprendimientos-generales">
        <div class="hero-background" id="hero-background-emprendimientos-generales"></div>
        <h1 class=" hero-title" id="hero-title-emprendimientos-generales">Emprendimientos</h1>
    </section>


    <div class="title-container">
        <h1>APOYA A LO LOCAL</h1>
        <div class="title-text-container">
            <p>¡Bienvenidos al sitio oficial de emprendedores de Barrio Escalante, San José, Costa Rica! Con la ayuda de
                nuestros vecinos, hemos listado los emprendimientos de la comunidad con el fin de apoyarles y darles
                visibilidad. ¿Buscas productos nuevos?</p>
        </div>
    </div>

    <div class="descubre-nuestros-emprendimientos">
        <h2>DESCUBRE <b>PROYECTOS</b> CREADOS POR Y PARA LA <b>COMUNIDAD,</b> DONDE CADA IDEA NACE DE <b>NECESIDADES
                COMPARTIDAS</b> Y CRECE CON <b>ESFUERZO COLECTIVO.</b></h2>
    </div>

    <!-- 1ras Cards -->
    <div class="exterior-advertisement-container-limit">
        <div class="introduccion-a-cards" id="favoritos-de-la-comunidad">
            <p>Los <b>Favoritos</b> de la Comunidad...</p>
        </div>

        <section class="exterior-advertisement-container" id="exterior-advertisement-container-entrepeneurship1">

            <div class="advertisement-container">
                <!-- Card 1-->
                <div class="card" id="la-chismosa">
                    <div class="card-image"></div>
                    <div class="card-text-container">
                        <p class="card-title">La Chismosa</p>
                        <p class="card-subtitle">Restaurante</p>
                    </div>
                </div>

                <!-- Card 2 -->
                <a href="emprendimiento-user.html">
                    <div class="card" id="santo-pecado">
                        <div class="card-image"></div>
                        <div class="card-text-container">
                            <p class="card-title">Santo Pecado</p>
                            <p class="card-subtitle">Restaurante</p>
                        </div>
                    </div>
                </a>


                <!-- Card 3 -->
                <div class="card" id="beer-factory">
                    <div class="card-image"></div>
                    <div class="card-text-container">
                        <p class="card-title">Beer Factory</p>
                        <p class="card-subtitle">Bar & Grill</p>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="card" id="calle-33">
                    <div class="card-image"></div>
                    <div class="card-text-container">
                        <p class="card-title">Calle 33</p>
                        <p class="card-subtitle">Mercado Gastronómico</p>
                    </div>
                </div>
        </section>
    </div>

    <div class="conoce-nuestros-emprendimientos">
        <h1>CONOCE LAS <b>INICIATIVAS</b> QUE ESTÁN CAMBIANDO VIDAS, FORTALECIENDO TEJIDO SOCIAL Y <b>CONSTRUYENDO UN
                FUTURO</b> MÁS JUSTO DESDE LO <b>LOCAL.</b></h1>
    </div>

    <!-- 2das Cards -->
    <div class="exterior-advertisement-container-limit">
        <div class="introduccion-a-cards" id="nuevas-propuestas">
            <p><b>Nuevos Emprendimientos</b> en Barrio Escalante...</p>
        </div>

        <section class="exterior-advertisement-container" id="exterior-advertisement-container-entrepeneurship2">

            <div class="advertisement-container">
                <!-- Card 1-->
                <div class="card" id="la-central">
                    <div class="card-image"></div>
                    <div class="card-text-container">
                        <p class="card-title">La Central</p>
                        <p class="card-subtitle">Restaurante</p>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="card" id="sasta-pub">
                    <div class="card-image"></div>
                    <div class="card-text-container">
                        <p class="card-title">Sasta Pub</p>
                        <p class="card-subtitle">Restaurante</p>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="card" id="samadhi">
                    <div class="card-image"></div>
                    <div class="card-text-container">
                        <p class="card-title">Samadhi</p>
                        <p class="card-subtitle">Restaurante</p>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="card" id="lulupulus">
                    <div class="card-image"></div>
                    <div class="card-text-container">
                        <p class="card-title">Lulupulus</p>
                        <p class="card-subtitle">Restaurante</p>
                    </div>
                </div>
        </section>
    </div>

    <!-- ------------------------ -->
    <!-- CALL TO ACTION -->

    <section class="create-entrepreneurship-container">
        <div class="create-entrepreneurship-container-limit">
            <div class="create-entrepreneurship-text-container">
                <h2>¿TE GUSTARÍA PUBLICAR TU</h2>
                <h1>EMPRENDIMIENTO?</h1>
                <a href="../../forms/form-emprendimiento/form-emprendimiento.html">
                    <button>Haz Clic Aquí</button>
                </a>
            </div>

            <div class="create-entrepreneurship-text-container">
                <p>Al igual que muchas personas en la comunidad, ser emprendedor(a) en nuestro sitio web Comunidad
                    Conectada, podría ayudarte a dar a conocer tus servicios.</p>
            </div>
        </div>
    </section>

    <!-- ------------------------ -->

    <div class="construyendo-una-comunidad">
        <h1>CADA <b>ACCIÓN</b> CUENTA. CADA <b>VOZ</b> SUMA. <br>ASÍ SE CONSTRUYE UNA <b>COMUNIDAD.</b></h1>
    </div>

    <footer>
        <div class="exterior-site-footer">
            <div class="site-footer">
                <!--Slogan -->

                <section class="slogan-container">
                    <div class="text-logos">
                        <h1>Comunidad <span>Conectada</span></h1>
                        <h3>Fortaleciendo Comunidades, Forjando Conexiones</h3>
                        <p>Somos el sitio web que te permite estar al tanto de los evento, conocer emprendimiento y al
                            mismo tiempo, ser escuchado(a)...</p>
                    </div>
                </section>
                <section class="links-container">
                    <!--Ayuda-->
                    <div class="ayuda-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>SERVICIOS</h4>
                        </div>
                        <a href="../../public-views/evento/evento.html">Evento</a>
                        <a href="../../forms/form-reporte/form-reporte.html">Reportes</a>
                        <a href="../../public-views/calendario/calendario.html">Calendario</a>
                    </div>
                    <!--Comunidad-->
                    <div class="comunidad-container">

                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>COMUNIDAD</h4>
                        </div>

                        <a href="../../public-views/feed/feed.html">Inicio</a>
                        <a href="../../public-views/anuncio/anuncio.html">Anuncio</a>
                        <a href="../../public-views/emprendimiento/emprendimiento.html">Emprendimiento</a>
                        <a href="../../public-views/transporte/transporte.html">Transporte</a>
                    </div>
                    <!--Contáctenos-->
                    <div class="contactenos-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>CONTÁCTENOS</h4>
                        </div>
                        <div class="contact-info-container">
                            <p href="">Teléfono </p>
                            <p href="">(+506) 2222 2222</p>
                            <p href="">Correo Electrónico</p>
                            <p href="">comu@conectada.com</p>
                        </div>
                    </div>
                </section>

                <!--Redes sociales-->
                <section class="icon-container">
                    <span class="circle"><a href="https://mail.google.com/mail/u/0/#inbox"><i
                                class="ri-at-line"></i></a></span>
                    <span class="circle"><a
                            href="https://api.whatsapp.com/message/TVM3RN532LFSM1?autoload=1&app_absent=0"><i
                                class="ri-phone-line"></i></a></span>
                    <span class="circle"><a
                            href="https://www.facebook.com/p/San-Rafael-es-Pura-Vida-100092185267522/"><i
                                class="ri-facebook-circle-fill"></i></a></span>
                    <span class="circle"><a href="https://www.instagram.com/sanra_es_puravida1885/"><i
                                class="ri-instagram-line"></i></a></span>
                    <span class="circle"><a href="https://x.com/ldacr"><i class="ri-twitter-x-line"></i></a></span>
                </section>
            </div>
        </div>
        <!--Copyright-->
        <section class="copyright-container">
            <p>Copyright © TITÍ CODE 2025. All Rights Reserved.</p>
        </section>
    </footer>
</body>

</html>