/* ============================= */
/*     # COMPONENTE: HERO       */
/* ============================= */

.hero {
    width: 100%;
    height: 60vh;
    min-height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--azul-oscuro);
}

#hero-emprendimientos-generales {
    height: 60vh;
}

#hero-emprendimientos-especificos {
    height: 40vh;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 0 2%;
}

.hero-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/assets/images/hero/Emprendimientos.png');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 1;
}

.hero-background.cheese {
    background-image: url('../../../assets/images/emprendimiento/logos/Santo\ Pecado.png');
}

.hero-title {
    color: var(--blanco);
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: 1vw;
    text-transform: uppercase;
    padding: 0 5%;
    line-height: 1.2;
    padding: auto;
}



@media (max-width: 1200px) {
    #hero-title-emprendimientos-especificos {
        font-size: 8vw;
    }
}

@media (max-width: 700px) {
    #hero-emprendimientos-especificos {
        height: 20vh;
    }
}

@media (max-width: 830px) {
    .hero {
        height: 30vw;
        min-height: 220px;
    }
}

/* ============================= */
/*   EMPRENDIMIENTOS GENERALES   */
/* ============================= */

.descubre-nuestros-emprendimientos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.descubre-nuestros-emprendimientos h2 {
    color: var(--azul-oscuro);
    font-size: 2.2rem;
    font-weight: 400;
    width: 80%;
}

/* ============================= */
/*     # COMPONENTE: CARDS      */
/* ============================= */

/* Introducción a los cards */
.introduccion-a-cards {
    padding: 80px 0;
}

.introduccion-a-cards p {
    color: var(--azul-oscuro);
    font-size: 28px;
    text-align: center;
}

/* Cards */


.exterior-advertisement-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advertisement-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 80%;
    justify-items: center;
}

.advertisement-container a {
    text-decoration: none;
}


/* Segunda sección de cards */
#exterior-advertisement-container-entrepeneurship2 {
    margin-bottom: 80px;
}

#exterior-advertisement-container-entrepeneurship1 {
    margin-bottom: 80px;
}

.card {
    height: 450px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 0px 12px #29598f91;
    transition: all 0.3s ease-out;
    min-width: 200px;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0 6px 12px #29598f91;
}

.card-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 70%;
}

#la-chismosa .card-image {
    background-image: url('../../../assets/images/emprendimiento/logos/La\ Chismosa.png');
}

#santo-pecado .card-image {
    background-image: url('../../../assets/images/emprendimiento/logos/Santo\ Pecado.png');
}

#beer-factory .card-image {
    background-image: url('../../../assets/images/emprendimiento/logos/Beer\ Factory.png');
}

#calle-33 .card-image {
    background-image: url('../../../assets/images/emprendimiento/logos/Calle\ 33.png');
}

#la-central .card-image {
    background-image: url('../../../assets/images/emprendimiento/logos/La\ Central.png');
}

#sasta-pub .card-image {
    background-image: url('../../../assets/images/emprendimiento/logos/Sasta\ Pub.png');
}

#samadhi .card-image {
    background-image: url('../../../assets/images/emprendimiento/logos/Samadhi.jpg');
}

#lulupulus .card-image {
    background-image: url('../../../assets/images/emprendimiento/logos/Lupulus.png');
}

.card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30%;
    padding-left: 10%;
    gap: 10%;
}

.card-title {
    color: var(--azul-oscuro);
    font-size: 1.5rem;
    font-weight: bold;
}

.card-subtitle {
    color: var(--azul-oscuro);
    font-size: 0.9rem;
}

/* ===== # CARDS: MEDIA QUERIES ===== */

@media (max-width: 1400px) {
    .advertisement-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1035px) {
    .advertisement-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 679px) {
    .advertisement-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.conoce-nuestros-emprendimientos {
    height: 100vh;
    background-color: var(--azul-oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conoce-nuestros-emprendimientos h1 {
    font-size: 2.2rem;
    text-align: center;
    width: 80%;
    font-weight: 400;
    color: white;
}


.construyendo-una-comunidad {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.construyendo-una-comunidad h1 {
    color: var(--azul-oscuro);
    font-size: 2.2rem;
    text-align: center;
    font-weight: 400;
    width: 80%; 
    padding-top: 80px;
}


/* ============================= */
/*  EMPRENDIMIENTOS ESPECÍFICOS  */
/* ============================= */

/* General */
.enterprise-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 50vh;
}

.enterprise-info h1 {
    color: var(--azul-oscuro);
    font-size: 24px;
    font-weight: 900;
    cursor: default;
}

.enterprise-info p {
    color: var(--azul-oscuro);
    font-size: 18px;
    margin-top: 4%;
    cursor: default;
}

/* Izquierda */
.enterprise-info-left {
    width: 100%;
    height: 100%;
    padding: 8% 10%;
    padding-right: 20%;
}

.enterprise-top-left {
    weight: 100%;
    height: 80%;
}

.enterprise-bottom-left {
    weigth: 100%;
    height: 30%;
}

.enterprise-location h1 {
    margin-bottom: 4%;
}

.enterprise-location a {
    text-decoration: none;
    color: var(--azul-oscuro);
    font-size: 18px;
    display: inline;
}

.enterprise-location a:hover {
    color: var(--azul-claro);
}



/* Derecha */
.enterprise-info-right {
    width: 100%;
    height: 100%;
    padding: 8% 10%;
    padding-right: 20%;
}

.enterprise-top-right {
    weight: 100%;
    height: 80%;
}

.enterprise-schedules {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.enterprise-bottom-right {
    weigth: 100%;
    height: 30%;
}

.area-code {
    display: inline;
}

.enterprise-phone .area-code {
    color: var(--azul-claro);
}

.phone-number {
    display: inline;

}

.enterprise-phone h1 {
    margin-bottom: 4%;
}

@media (max-width: 1200px) {
    .enterprise-info {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        text-align: center;
    }

    /* Izquierda */
    .enterprise-info-left {
        width: 100%;
        height: 50%;
        padding: 2% 4%;
        margin: 0%;
    }

    .enterprise-top-left {
        margin-bottom: 2%;
        padding: 0 12%;
    }

    /* Derecha */
    .enterprise-info-right {
        width: 100%;
        height: 50%;
        padding: 2% 4%;
        margin: 0%;
    }

    /* General */
    .enterprise-top-left .enterprise-bottom-left .enterprise-top-right .enterprise-bottom-right {
        width: 100%;
        height: auto;
    }

    .enterprise-info p {
        margin-top: 0.5%;
    }

    /* Derecha */
    .enterprise-top-right {
        margin-bottom: 2%;
    }

    /* Días y Horas */
    .enterprise-days {
        text-align: right;
        padding-right: 6%;
    }

    .enterprise-hours {
        text-align: left;
        padding-left: 1.5%;
    }

    .enterprise-phone h1 {
        margin-bottom: 1%;
    }

    .enterprise-phone p {
        font-size: 20px;
    }

}

@media (max-width: 430px) {

    /* General */
    .enterprise-info h1 {
        font-size: 18px;
    }

    .enterprise-info p {
        font-size: 12px;
    }

    /* Izquierda */
    .enterprise-top-left {
        padding: 0% 8%;
        padding-top: 8%;
        padding-bottom: 4%;
    }

    .enterprise-bottom-left {
        padding: 4% 8%;
    }

    .enterprise-bottom-left h1 {
        margin-bottom: 4%;
    }

    .enterprise-location a {
        font-size: 12px;
    }

    /* Derecha */
    .enterprise-info-right {
        padding: 0% 20%;
    }

    .enterprise-top-right {
        padding: 4% 1%;
    }

    .enterprise-top-right h1 {
        margin-bottom: 4%;
    }

    .enterprise-top-right p {
        font-size: 12px;
    }

    .enterprise-days {
        text-align: center;
        padding-right: 0%;
    }

    .enterprise-hours {
        text-align: center;
        padding-left: 0%;
    }

    .enterprise-bottom-right {
        padding: 8% 8%;
    }

    .enterprise-phone h1 {
        margin-bottom: 4%;
    }

    .enterprise-phone p {
        font-size: 16px;
    }
}


/* ==================================== */
/* #COMPONENTE: CREATE ENTREPRENEURSHIP */
/* ==================================== */

.create-entrepreneurship-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    height: 60vh;
    background-color: var(--azul-oscuro);
}

.create-entrepreneurship-container-limit{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    align-items: center;
}

.create-entrepreneurship-text-container {
    font-style: italic;
    text-align: center;
}

.create-entrepreneurship-text-container h2 {
    font-size: 2.9rem;
    font-weight: normal;
}

.create-entrepreneurship-text-container h1 {
    font-size: 4rem;
}

.create-entrepreneurship-container a {
    text-decoration: none;
    color: var(--blanco);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.create-entrepreneurship-text-container p {
    font-size: 1.4rem;
    text-align: justify;
}

.create-entrepreneurship-text-container button {
    width: 40%;
    height: 40px;
    color: var(--azul-oscuro);
    border-radius: 20px;
    border-style: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 5%;
    justify-content: center;
    text-align: center;
    transition: .8s;
}


.create-entrepreneurship-text-container button:hover {
    width: 100%;
    font-weight: 700;
    transform: translateY(-5px);
    cursor: pointer;
    transition: .8s;
}