<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Comunidad Conectada</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!--Header/Footer CSS-->
    <link rel="stylesheet" href="../../../assets/styles/global.css">
    <link rel="stylesheet" href="panel-admin.css">
</head>

<body>
    <header>
        <nav class="menu">
            <h1 class="title-header">
                Comunidad <span>Conectada</span>
            </h1>
            <ul class="options">
                <a href="../../public-views/feed/feed.html">
                    <li>INICIO</li>
                </a>
                <a href="../../public-views/anuncio/anuncio.html">
                    <li>ANUNCIOS</li>
                </a>
                <a href="../../public-views/transporte/transporte.html">
                    <li>EMPRENDIMIENTOS</li>
                </a>
                <a href="../../public-views/transporte/transporte.html">
                    <li>TRANSPORTE</li>
                </a>
                <a href="../../forms/form-reporte/form-reporte.html">
                    <li>REPORTES</li>
                </a>
                <a>
                    <i class="ri-account-circle-fill icon-profile"></i>
                </a>
            </ul>
            <div class="burger"><i class="ri-menu-line"></i></div>

        </nav>
    </header>


    <main class="status-container">
        <section class="status-filter">
            <h2>Categorías de las Aprobaciones Comunales</h2>
            <button>Todos</button>
            <button>Nuevos</button>
            <button>Aprobados</button>
            <button>Rechazados</button>
            <div class="divider-line"></div>
            <a href="../../public-views/transporte/transporte-admin.html">Editar Transporte</a>
        </section>




        </section>

        <section class="tickets-list">

            <div class="ticket">
                <img src="../../../assets/images/emprendimiento/logos/La Chismosa.png" class="logo-form">
                <p>
                    <span class="ticket-info">Emprendimiento</span> La Chismosa
                </p>
                <span class="ticket-status">Rechazado</span>
            </div>

            <div class="ticket">
                <i class='bxr bxs-calendar-check logo-form'></i>
                <p>
                    <span class="ticket-info">Evento</span> El proximo 13 de julio habrá una feria en el centro.
                </p>
                <span class="ticket-status">Nuevo</span>
            </div>


            <div class="ticket">
                <i class="bxr bxs-megaphone logo-form"></i>
                <p>
                    <span class="ticket-info">Reporte</span> Por favor arreglar la señal de transito, ya que alguien se
                    la robó
                </p>
                <span class="ticket-status">Nuevo</span>
            </div>

            <div class="ticket">
                <img src="../../../assets/images/emprendimiento/logos/La Central.png" class="logo-form">
                <p>
                    <span class="ticket-info">Emprendimiento</span> La Central
                </p>
                <span class="ticket-status">Aprobado</span>
            </div>

            <div class="ticket">
                <i class='bxr bxs-calendar-check logo-form'></i>
                <p>
                    <span class="ticket-info">Evento</span> La Iglesia realizará un turno durante la proxima semana
                </p>
                <span class="ticket-status">Nuevo</span>
            </div>

            <div class="ticket">
                <i class="bxr bxs-megaphone logo-form"></i>
                <p>
                    <span class="ticket-info">Reporte</span> El alumbrado público de la calle principal dejó de
                    funcionar
                </p>
                <span class="ticket-status">Nuevo</span>
            </div>

            <div class="ticket">
                <img src="../../../assets/images/emprendimiento/logos/Calle 33.png" class="logo-form">
                <p>
                    <span class="ticket-info">Emprendimiento</span> Calle 33
                </p>
                <span class="ticket-status">Aprobado</span>
            </div>
            <div class="ticket">
                <i class='bxr  bxs-user-voice logo-form'></i>
                <p>
                    <span class="ticket-info">Anuncio</span> El proximo martes habrá un corte de agua durante la mañana
                </p>
                <span class="ticket-status">Nuevo</span>
            </div>
        </section>
    </main>


    <footer>
        <!--Copyright-->
        <section class="copyright-container">
            <p>Copyright © TITÍ CODE 2025. All Rights Reserved.</p>
        </section>
    </footer>
</body>
<script src="panel-admin.js"></script>
</body>