 /* ============================= */
 /*     # COMPONENTE: PanelAdmin      */
 /* ============================= */

 html,
 body {
     height: 100vh;
     display: flex;
     flex-direction: column;
     overflow: hidden;
 }

 main {
     flex: 1;
 }

 .status-container {
     display: flex;
     width: 100%;
     overflow: hidden;
 }

 .status-filter {
     background-color: var(--azul-oscuro);
     width: 30%;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 2rem 1rem;
     gap: 1rem;
 }

 .status-filter h2 {
     font-size: 2rem;
     text-align: center;
     margin-top: 10%;
     margin-bottom: 30%;
     width: 80%;
     color: var(--blanco);
 }

 .status-filter button {
     font-size: 1.3rem;
     width: 60%;
     border: none;
     border-radius: 25px;
     background-color: var(--azul-medio);
     color: var(--blanco);
     padding: 8px;
     margin-bottom: 20px;
     cursor: pointer;
 }

 .status-filter button:hover {
     background-color: var(--blanco);
     color: var(--azul-oscuro);
     transition: 0.5s;
 }

 .tickets-list {
     width: 70%;
     height: 100%;
     display: flex;
     flex-direction: column;
     padding: 2rem;
     row-gap: 2.5rem;
     background-color: var(--blanco);
     overflow-y: auto;
     flex: 1;
 }

 .ticket {
     background-color: var(--gris);
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
     border-radius: 15px;
     padding: 1rem;
     display: grid;
     grid-template-columns: 50px 1fr 150px;
     align-items: center;
     gap: 1rem;
     transition: transform 0.2s;
     color: var(--azul-oscuro);
     cursor: pointer;
 }

 .ticket p {
     margin-left: 60px;
 }

 .ticket-info {
     text-transform: uppercase;
     font-weight: bold;
     width: 180px;
     margin-right: 40px;
     display: inline-block;
 }

 .ticket img {
     margin-left: 20px;
     width: 40px;
     height: 40px;
     border-radius: 50%;
 }

 .ticket-status {
     margin-right: 20px;
     text-align: center;
     font-weight: bold;
     text-transform: uppercase;

 }


 .ticket:hover {
     transform: translateY(-4px);
 }


 .logo-form {
     width: 30px;
     height: 30px;
     border-radius: 50px;
     object-fit: contain;
 }

 .oculto {
     display: none;
 }