<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Comunidad Conectada</title>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!--Header/Footer CSS-->
    <link rel="stylesheet" href="../../../assets/styles/global.css">
    <link rel="stylesheet" href="evento.css">
</head>

<body>
    <header>
        <nav class="menu">

            <h1 class="title-header">
                Comunidad <span>Conectada</span>
            </h1>
            <ul class="options">
                <a href="../feed/feed.html">
                    <li>INICIO</li>
                </a>
                <a href="../evento/evento.html">
                    <li>EVENTO</li>
                </a>
                <a href="../anuncio/anuncio.html">
                    <li>ANUNCIO</li>
                </a>
                <a href="../emprendimiento/emprendimiento.html">
                    <li>EMPRENDIMIENTO</li>
                </a>
                <a href="../transporte/transporte.html">
                    <li>TRANSPORTE</li>
                </a>
                <a href="../../forms/form-reporte/form-reporte.html">
                    <li>REPORTES</li>
                </a>
                <a>
                    <i class="ri-account-circle-fill icon-profile"></i>
                </a>
            </ul>
            <div class="burger"><i class="ri-menu-line"></i></div>
        </nav>
    </header>

    <!-- Hero -->
    <section class="hero">
        <div class="hero-background luces"></div>
        <h1 class="hero-title">Festival de Luces Navideñas</h1>
    </section>

    <main>
        <div class="enterprise-info">

            <!-- Columna Izquierda-->
            <div class="enterprise-info-left">
                <div class="enterprise-top-left">
                    <div class="enterprise-description">
                        <h1>Descripción</h1>
                        <p>¡Ven a vivir la magia de la Navidad con nosotros! Disfrutá de un espectáculo lleno de color,
                            música y alegría en el corazón del cantón. La iluminación del árbol navideño, comparsas,
                            shows en vivo y actividades para toda la familia harán de esta noche una experiencia
                            inolvidable. ¡Traé tu espíritu navideño y compartí con tu comunidad!

                        </p>
                    </div>
                </div>
                <div class="enterprise-bottom-left">
                    <div class="enterprise-location">
                        <h1>Ubicación</h1>
                        <a
                            href="https://www.google.com/maps/place/Parque+De+Santa+Barbara/data=!4m2!3m1!1s0x0:0x83b4859f8fe81784?sa=X&ved=1t:2428&ictx=111">
                            Parque Central, Santa Barbara, Heredia</a>
                    </div>
                </div>
            </div>

            <!-- Columna Derecha -->
            <div class="enterprise-info-right">
                <div class="enterprise-top-right">
                    <h1>Horarios</h1>
                    <div class="enterprise-schedules">
                        <div class="enterprise-days">
                            <p>
                                <b>
                                    Lunes
                                    <br>
                                    Martes
                                    <br>
                                    Miércoles
                                    <br>
                                    Jueves
                                    <br>
                                    Viernes
                                    <br>
                                    Sábado
                                    <br>
                                    Domingo
                                </b>
                            </p>
                        </div>

                        <div class="enterprise-hours">
                            <p>
                                    12:00pm-12:00am
                                    <br>
                                    12:00pm-12:00am
                                    <br>
                                    12:00pm-12:00am
                                    <br>
                                    12:00pm-12:00am
                                    <br>
                                    12:00pm-1:00am
                                    <br>
                                    12:00pm-1:00am
                                    <br>
                                    12:00pm-12:00am
                            </p>
                        </div>
                    </div>
                </div>
                <div class="enterprise-bottom-right">
                    <div class="enterprise-phone">
                        <h1>Fecha</h1>
                        <p class="phone-number">Sábado 20 de Diciembre</p>
                    </div>
                </div>
            </div>

        </div>
    </main>



    <footer>
        <div class="exterior-site-footer">
            <div class="site-footer">
                <!--Slogan -->

                <section class="slogan-container">
                    <div class="text-logos">
                        <h1>Comunidad <span>Conectada</span></h1>
                        <h3>Fortaleciendo Comunidades, Forjando Conexiones</h3>
                        <p>Somos el sitio web que te permite estar al tanto de los evento, conocer emprendimiento y al
                            mismo tiempo, ser escuchado(a)...</p>
                    </div>
                </section>
                <section class="links-container">
                    <!--Ayuda-->
                    <div class="ayuda-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>SERVICIOS</h4>
                        </div>
                        <a href="../../public-views/evento/evento.html">Evento</a>
                        <a href="../../forms/form-reporte/form-reporte.html">Reportes</a>
                        <a href="../../public-views/calendario/calendario.html">Calendario</a>
                    </div>
                    <!--Comunidad-->
                    <div class="comunidad-container">

                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>COMUNIDAD</h4>
                        </div>

                        <a href="../../public-views/feed/feed.html">Inicio</a>
                        <a href="../../public-views/anuncio/anuncio.html">Anuncio</a>
                        <a href="../../public-views/emprendimiento/emprendimiento.html">Emprendimiento</a>
                        <a href="../../public-views/transporte/transporte.html">Transporte</a>
                    </div>
                    <!--Contáctenos-->
                    <div class="contactenos-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>CONTÁCTENOS</h4>
                        </div>
                        <div class="contact-info-container">
                            <p href="">Teléfono </p>
                            <p href="">(+506) 2222 2222</p>
                            <p href="">Correo Electrónico</p>
                            <p href="">comu@conectada.com</p>
                        </div>
                    </div>
                </section>

                <!--Redes sociales-->
                <section class="icon-container">
                    <span class="circle"><a href="https://mail.google.com/mail/u/0/#inbox"><i
                                class="ri-at-line"></i></a></span>
                    <span class="circle"><a
                            href="https://api.whatsapp.com/message/TVM3RN532LFSM1?autoload=1&app_absent=0"><i
                                class="ri-phone-line"></i></a></span>
                    <span class="circle"><a
                            href="https://www.facebook.com/p/San-Rafael-es-Pura-Vida-100092185267522/"><i
                                class="ri-facebook-circle-fill"></i></a></span>
                    <span class="circle"><a href="https://www.instagram.com/sanra_es_puravida1885/"><i
                                class="ri-instagram-line"></i></a></span>
                    <span class="circle"><a href="https://x.com/ldacr"><i class="ri-twitter-x-line"></i></a></span>
                </section>
            </div>
        </div>
        <!--Copyright-->
        <section class="copyright-container">
            <p>Copyright © TITÍ CODE 2025. All Rights Reserved.</p>
        </section>
    </footer>
</body>

</html>