<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Comunidad Conectada</title>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!--Header/Footer CSS-->
    <link rel="stylesheet" href="../../../assets/styles/global.css">
    <!--Page specific CSS-->
    <link rel="stylesheet" href="evento.css">
</head>

<body>
    <header>
        <nav class="menu">

            <h1 class="title-header">
                Comunidad <span>Conectada</span>
            </h1>
            <ul class="options">
                <a href="../feed/feed.html">
                    <li>INICIO</li>
                </a>
                <a href="../evento/evento.html">
                    <li>EVENTO</li>
                </a>
                <a href="../anuncio/anuncio.html">
                    <li>ANUNCIO</li>
                </a>
                <a href="../emprendimiento/emprendimiento.html">
                    <li>EMPRENDIMIENTO</li>
                </a>
                <a href="../transporte/transporte.html">
                    <li>TRANSPORTE</li>
                </a>
                <a href="../../forms/form-reporte/form-reporte.html">
                    <li>REPORTES</li>
                </a>
                <a>
                    <i class="ri-account-circle-fill icon-profile"></i>
                </a>
            </ul>
            <div class="burger"><i class="ri-menu-line"></i></div>
        </nav>
    </header>

    <!-- Hero -->
    <section class="hero">
        <div class="hero-background"></div>
        <h1 class="hero-title">eventos</h1>
    </section>


    <div class="title-container">
        <h1>EVENTOS PRÓXIMOS</h1>
        <div class="title-text-container">
            <p>¡Bienvenidos al calendario oficial de eventos de Barrio Escalante, San José, Costa Rica! Con la ayuda de
                nuestros vecinos, hemos listado los próximos evento de música, gastronomía, actividades familiares,
                deportes, literatura y mucho más. ¿Buscas evento centrados en la comunidad?</p>
        </div>

    </div>


    <!-- Cards -->
    <section class="exterior-cards-container">

        <div class="cards-container">
            <!-- Card -->
            <div class="card">
                <div class="card-image perros"></div>
                <div class="card-text-container">
                    <p class="card-title">Inauguración Parque de Perros</p>
                    <p class="card-subtitle">Parque Central Escazú</p>
                </div>
            </div>

            <a href="evento-user.html">
                <div class="card">
                    <div class="card-image luces"></div>
                    <div class="card-text-container">
                        <p class="card-title"> Festival de Luces Navideñas</p>
                        <p class="card-subtitle">Salón Comunal San Rafael</p>
                    </div>
                </div>
            </a>

            <div class="card">
                <div class="card-image concierto"></div>
                <div class="card-text-container">
                    <p class="card-title">Chayanne en Concierto</p>
                    <p class="card-subtitle">Plaza de Deportes San Rafael</p>
                </div>
            </div>

            <div class="card">
                <div class="card-image feriaagricultor"></div>
                <div class="card-text-container">
                    <p class="card-title">Feria del Agricultor</p>
                    <p class="card-subtitle">Centro de Recreación San Rafael</p>
                </div>
            </div>

            <div class="card">
                <div class="card-image cine"></div>
                <div class="card-text-container">
                    <p class="card-title">Cine al Aire Libre</p>
                    <p class="card-subtitle">Biblioteca Pública de Escazú</p>
                </div>
            </div>

            <div class="card">
                <div class="card-image carnaval"></div>
                <div class="card-text-container">
                    <p class="card-title">Carnaval Cultural</p>
                    <p class="card-subtitle">Cancha Multiuso San Antonio</p>
                </div>
            </div>

            <div class="card">
                <div class="card-image torneo"></div>
                <div class="card-text-container">
                    <p class="card-title">Torneo Deportivo Juvenil</p>
                    <p class="card-subtitle">Centro Cívico para la Paz – Escazú</p>
                </div>
            </div>

            <div class="card">
                <div class="card-image feriapasta"></div>
                <div class="card-text-container">
                    <p class="card-title">Feria Pasta</p>
                    <p class="card-subtitle">Parque Infantil Los Sauces, San Rafael</p>
                </div>
            </div>
    </section>

    <section class="publish-event-container">
        <div class="create-entrepreneurship-container-limit">
            <div class="publish-event-text-container">
                <h2>¿TE GUSTARÍA PUBLICAR TU</h2>

                <h1>EVENTO?</h1>
                <a href="../../forms/form-evento/form-evento.html">
                    <button>Haz Clic Aquí</button>
                </a>
            </div>

            <div class="publish-event-text-container">
                <p>Sabemos que te gusta conectar con todas y cada una de las personas en la comunidad, por ello acá tienes la oportunidad de organizar eventos pensados para pasarla bien y que ellos se puedan enterar de ello.</p>
            </div>
        </div>

    </section>



    <div class="title-container">
        <h1>EVENTOS POPULARES</h1>
    </div>
    <section class="exterior-cards-container">

        <div class="cards-container">
            <!-- Card -->
            <div class="card">
                <div class="card-image luces"></div>
                <div class="card-text-container">
                    <p class="card-title">Festival de Luces Navideñas</p>
                    <p class="card-subtitle">Santa Bárbara, Heredia</p>
                </div>
            </div>

            <div class="card">
                <div class="card-image concierto"></div>
                <div class="card-text-container">
                    <p class="card-title">Concierto en la Plaza Central</p>
                    <p class="card-subtitle">Heredia Centro</p>
                </div>
            </div>

            <div class="card">
                <div class="card-image caminata"></div>
                <div class="card-text-container">
                    <p class="card-title">Caminata Familiar</p>
                    <p class="card-subtitle">Santo Domingo, Heredia</p>
                </div>
            </div>

            <div class="card">
                <div class="card-image taller"></div>
                <div class="card-text-container">
                    <p class="card-title">Taller de Arte</p>
                    <p class="card-subtitle">Belén, Heredia</p>
                </div>
            </div>


    </section>

    <footer>
        <div class="exterior-site-footer">
            <div class="site-footer">
                <!--Slogan -->

                <section class="slogan-container">
                    <div class="text-logos">
                        <h1>Comunidad <span>Conectada</span></h1>
                        <h3>Fortaleciendo Comunidades, Forjando Conexiones</h3>
                        <p>Somos el sitio web que te permite estar al tanto de los evento, conocer emprendimiento y al
                            mismo tiempo, ser escuchado(a)...</p>
                    </div>
                </section>
                <section class="links-container">
                    <!--Ayuda-->
                    <div class="ayuda-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>SERVICIOS</h4>
                        </div>
                        <a href="../../public-views/evento/evento.html">Evento</a>
                        <a href="../../forms/form-reporte/form-reporte.html">Reportes</a>
                        <a href="../../public-views/calendario/calendario.html">Calendario</a>
                    </div>
                    <!--Comunidad-->
                    <div class="comunidad-container">

                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>COMUNIDAD</h4>
                        </div>

                        <a href="../../public-views/feed/feed.html">Inicio</a>
                        <a href="../../public-views/anuncio/anuncio.html">Anuncio</a>
                        <a href="../../public-views/emprendimiento/emprendimiento.html">Emprendimiento</a>
                        <a href="../../public-views/transporte/transporte.html">Transporte</a>
                    </div>
                    <!--Contáctenos-->
                    <div class="contactenos-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>CONTÁCTENOS</h4>
                        </div>
                        <div class="contact-info-container">
                            <p href="">Teléfono </p>
                            <p href="">(+506) 2222 2222</p>
                            <p href="">Correo Electrónico</p>
                            <p href="">comu@conectada.com</p>
                        </div>
                    </div>
                </section>

                <!--Redes sociales-->
                <section class="icon-container">
                    <span class="circle"><a href="https://mail.google.com/mail/u/0/#inbox"><i
                                class="ri-at-line"></i></a></span>
                    <span class="circle"><a
                            href="https://api.whatsapp.com/message/TVM3RN532LFSM1?autoload=1&app_absent=0"><i
                                class="ri-phone-line"></i></a></span>
                    <span class="circle"><a
                            href="https://www.facebook.com/p/San-Rafael-es-Pura-Vida-100092185267522/"><i
                                class="ri-facebook-circle-fill"></i></a></span>
                    <span class="circle"><a href="https://www.instagram.com/sanra_es_puravida1885/"><i
                                class="ri-instagram-line"></i></a></span>
                    <span class="circle"><a href="https://x.com/ldacr"><i class="ri-twitter-x-line"></i></a></span>
                </section>
            </div>
        </div>
        <!--Copyright-->
        <section class="copyright-container">
            <p>Copyright © TITÍ CODE 2025. All Rights Reserved.</p>
        </section>
    </footer>
</body>

</html>