<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/authentication/log-in.css">
</head>

<body>
    <div class="content-container-out">
        <div class="content-container">
            <div class="texts-container">
                <h1>Comunidad <br><span>Conectada</span></h1>
                <p>Voces Unidas, Ideas que Transforman</p>
            </div>

            <div class="forms-container">

                <form action="#" class="formulario" id="formulario">

                    <div class="formulario__grupo-titulo">
                        <h2>Iniciar Sesión</h2>
                    </div>


                    <!-- GRUPO CORREO-->
                    <div class="formulario__grupo" id="grupo__correo">
                        <label class="formulario__label">Correo electronico</label>
                        <div class="formulario__grupo-input">
                            <input type="email" class="formulario__input" name="correo" id="correo"
                                placeholder="correo@correo.com">
                            <i class='formulario__validacion-estado bx bxs-x-circle'></i>
                        </div>
                        <p class="formulario__input-error">
                            Usa el formato nombre@dominio.com
                        </p>
                    </div>


                    <!-- GRUPO CONTRASEÑA-->
                    <div class="formulario__grupo" id="grupo__password">
                        <label class="formulario__label">Contraseña</label>
                        <div class="formulario__grupo-input">
                            <input type="password" class="formulario__input" name="password" id="password">
                            <i class='formulario__validacion-estado bx bxs-x-circle'></i>
                        </div>
                        <p class="formulario__input-error">
                            Recuerda: La contraseña debe ser de 4 a 12 digitos.
                        </p>
                    </div>


                    <!-- GRUPO ENVIAR-->
                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">
                            El formulario se envió correctamente
                        </p>
                        <input type="submit" class="formulario__btn" value="Entrar">
                        <div class="volver-login">
                            <p>¿No tienes una cuenta aún? <span><a href="/sign-up">Crear
                                        Cuenta</a></span></p>
                        </div>

                    </div>


                    <!-- GRUPO DE CAMPOS REQUERIDOS-->
                    <div class="formulario__mensaje " id="formulario__mensaje">
                        <p>Error: Completa todos los campos para poder ingresar.</i></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script src="js/authentication/log-in.js"></script>
</body>

</html>