 /* ============================= */
 /*     # COMPONENTE: HERO       */
 /* ============================= */

 .hero {
     width: 100%;
     height: 60vh;
     min-height: 250px;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     background-color: var(--azul-oscuro);
 }

 .hero-background {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background-image: url('');
     background-size: cover;
     background-position: center;
     opacity: 0.3;
     z-index: 1;
 }

 .hero-background.luces {
     background-image: url('../../assets/images/evento/luces.jpg');
 }

 .hero-title {
     color: var(--blanco);
     font-size: 5rem;
     font-weight: 700;
     text-align: center;
     position: relative;
     z-index: 2;
     margin-bottom: 1vw;
     text-transform: uppercase;
     padding: 0 5%;
     line-height: 1.2;
     padding: auto;
 }

 @media (max-width: 830px) {
     .hero {
         height: 30vw;
         min-height: 220px;
     }
 }

 /* Ajusted para celular */
 @media (max-width: 435px) {
     .cards-container {
         width: 65%;
     }

     .title-text-container p {
         margin-top: 5%;
         min-width: 90%;
         font-size: 1rem;
     }

     .back-container {
         margin-top: 12%;
     }

     .title-container h1 {
         margin-top: 12%;
         width: 95%;
         text-align: center;

     }

     .exterior-cards-container {
         margin-top: 10%;
         margin-bottom: 2%;
     }

     .publish-event-container {
         margin-top: 20%;
         flex-direction: column;
         height: 50vh;

     }

     .publish-event-text-container {
         margin-left: 2%;
     }

     .publish-event-text-container h2 {
         font-size: 1.4rem;
     }

     .publish-event-text-container h1 {
         font-size: 4rem;
     }

     .publish-event-text-container p {
         margin-top: 10%;
         font-size: 1rem;
         max-width: 95%;
         text-align: center;
     }

     .publish-event-text-container button {
         margin-top: 10%;
         width: 100%;
     }
 }

 @media (max-width: 380px) {
     .cards-container {
         width: 75%;
     }


     .publish-event-container {

         height: 70vh;

     }
 }