<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Comunidad Conectada</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!--Header/Footer CSS-->
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/admin/panel-admin.css">
</head>

<body>
    <header>
        <nav class="menu">
            <h1 class="title-header">
                Comunidad <span>Conectada</span>
            </h1>
            <ul class="options">
                <a href="/feed">
                    <li>INICIO</li>
                </a>
                <a href="/evento">
                    <li>EVENTO</li>
                </a>
                <a href="/anuncio">
                    <li>ANUNCIO</li>
                </a>
                <a href="/emprendimiento">
                    <li>EMPRENDIMIENTO</li>
                </a>
                <a href="/transporte">
                    <li>TRANSPORTE</li>
                </a>
                <a href="/form-reporte">
                    <li>REPORTES</li>
                </a>
                <a href="/panel-admin">
                    <i class="ri-account-circle-fill icon-profile"></i>
                </a>
            </ul>

            <div class="burger"><i class="ri-menu-line"></i></div>

        </nav>
    </header>


    <main class="status-container">
        <section class="status-filter">
            <h2>Categorías de las Aprobaciones Comunales</h2>
            <button>Todos</button>
            <button>Nuevos</button>
            <button>Aprobados</button>
            <button>Rechazados</button>
            <div class="divider-line"></div>
            <a href="/transporte-admin">Editar Transporte</a>
            <a href="/register">Registrar Administrador</a>

        </section>




        </section>

        <section class="tickets-list">
            <div class="ticket" data-tipo="emprendimiento">
                <i class='bxr  bxs-store logo-form'></i>
                <p>
                    <span class="ticket-info">Emprendimiento</span> Café Escalante
                </p>
                <span class="ticket-status">Rechazado</span>
                <div class="left-bar"></div>
            </div>

            <div class="ticket" data-tipo="evento">
                <i class="bx bxs-calendar-check logo-form"></i>
                <p>
                    <span class="ticket-info">Evento</span> El proximo 13 de julio habrá una feria en el centro
                    adfasdfadfasfasfdsafadfasdfasdfasdfasdfasdfasfasdfasdfasdfasdfasf
                </p>
                <span class="ticket-status">Nuevo</span>
                <div class="left-bar"></div>

            </div>

            <div class="ticket" data-tipo="reporte">
                <i class='bxr  bxs-message-captions logo-form'></i>
                <p>
                    <span class="ticket-info">Reporte</span> Ruidos molestos en la madrugada
                </p>
                <span class="ticket-status">Nuevo</span>
                <div class="left-bar"></div>
            </div>

            <div class="ticket" data-tipo="anuncio">
                <i class="bx bxs-megaphone logo-form"></i>
                <p>
                    <span class="ticket-info">Anuncio</span> Nuevo punto de reciclaje
                </p>
                <span class="ticket-status">Aprobado</span>
                <div class="left-bar"></div>
            </div>

            <div class="ticket" data-tipo="evento">
                <i class="bx bxs-calendar-check logo-form"></i>
                <p>
                    <span class="ticket-info">Evento</span> La Iglesia realizará un turno durante la proxima semana
                </p>
                <span class="ticket-status">Nuevo</span>
                <div class="left-bar"></div>
            </div>

            <div class="ticket" data-tipo="reporte">
                <i class='bxr  bxs-message-captions logo-form'></i>
                <p>
                    <span class="ticket-info">Reporte</span> El alumbrado público de la calle principal dejó de
                    funcionar
                </p>
                <span class="ticket-status">Nuevo</span>
                <div class="left-bar"></div>
            </div>

            <div class="ticket" data-tipo="evento">
                <i class="bx bxs-calendar-check logo-form"></i>
                <p>
                    <span class="ticket-info">Evento</span> Fiesta del barrio
                </p>
                <span class="ticket-status">Aprobado</span>
                <div class="left-bar"></div>
            </div>

            <div class="ticket" data-tipo="anuncio">
                <i class="bx bxs-megaphone logo-form"></i>
                <p>
                    <span class="ticket-info">Anuncio</span> El proximo martes habrá un corte de agua durante la mañana
                </p>
                <span class="ticket-status">Nuevo</span>
                <div class="left-bar"></div>
            </div>

        </section>
    </main>


    <footer>
        <!--Copyright-->
        <section class="copyright-container">
            <p>Copyright © TITÍ CODE 2025. All Rights Reserved.</p>
        </section>
    </footer>
</body>
<script src="js/admin/panel-admin.js"></script>
</body>