 /* ============================= */
 /*     # COMPONENTE: HERO       */
 /* ============================= */

 .hero {
     width: 100%;
     height: 60vh;
     min-height: 250px;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     background-color: var(--azul-oscuro);
 }

 .hero-background {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background-image: url('../../img/hero/Transporte.PNG');
     background-size: cover;
     background-position: center;
     opacity: 0.3;
     z-index: 1;
 }

 .hero-title {
     color: var(--blanco);
     font-size: 5rem;
     ;
     font-weight: 700;
     text-align: center;
     position: relative;
     z-index: 2;
     margin-bottom: 1vw;
     text-transform: uppercase;
     padding: 0 5%;
     line-height: 1.2;
     padding: auto;
 }

 @media (max-width: 830px) {
     .hero {
         height: 30vw;
         min-height: 220px;
     }
 }

 /* ============================= */
 /*     # COMPONENTE: TITLES      */
 /* ============================= */


 .title-container {
     display: flex;
     justify-content: center;
     text-align: center;
     flex-direction: column;
     padding: 80px 0px 0px;
 }

 .title-container h1 {
     color: var(--azul-oscuro);
     font-size: 2rem;
 }

 .title-container p {
     padding-top: 80px;
     color: var(--azul-oscuro);
     max-width: 80%;
     min-width: 40%;
     font-size: 1.5rem;
 }

 .title-text-container {
     display: flex;
     justify-content: center;
 }

 /* ============================= */
 /*     # COMPONENTE: TRANSPORTE  */
 /* ============================= */

 .transport-section {
     width: 80%;
     margin: 5rem auto;
     padding: 5rem 0;
 }

 .transport-header {
     text-align: center;
     margin-bottom: 3rem;
 }

 .transport-header h1 {
     color: var(--azul-oscuro);
     font-size: 2rem;
     text-transform: uppercase;
     margin-bottom: 0.5rem;
 }

 .route-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 2rem;
     row-gap: 3.5rem;
 }

 .route-card {
     display: flex;
     background-color: var(--blanco);
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
     min-height: 203px;
     transition: transform 0.3s;
 }

 .left-bar {
     width: 8px;
     background-color: var(--azul-claro);
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
 }

 .card-content {
     padding: 1.5rem;
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .route-card:hover {
     transform: translateY(-5px);
 }

 .route-card h3 {
     color: var(--azul-oscuro);
     margin-bottom: 1rem;
     font-size: 1.4rem;
 }

 .route-details p {
     margin-bottom: 0.5rem;
     color: var(--azul-oscuro);
     line-height: 1.5;
     font-size: 1.1rem;

 }

 .card-content a {
     text-decoration: none;
     text-align: end;
     color: var(--azul-oscuro);
     font-weight: 700;
 }

 .card-content a:hover {
     text-decoration: none;
     text-align: end;
     color: var(--azul-claro);
     font-weight: 700;
 }

 .create-route {
     width: 30%;
     background-color: var(--azul-oscuro);
     border-radius: 50px;
     margin: 0px auto 100px;
     padding: 10px;
     text-align: center;
     transition: .8s;
 }

 .create-route a {
     text-decoration: none;
     color: white;
     font-size: 1.5rem;
     text-align: center;
     text-transform: uppercase;
     padding: 20px;
     transition: .8s;
 }

 .create-route:hover {
     width: 100%;
     background-color: var(--azul-claro);
     transition: .8s;
 }

.no-created{
    margin-top: 40px;
}