<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidad Conectada</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!--Header/Footer CSS-->
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/public-views/feed.css">
</head>

<body>
    <!-- SITE MENU -->
    <header>
        <nav class="menu">

            <h1 class="title-header">
                Comunidad <span>Conectada</span>
            </h1>
            <ul class="options">
                <a href="/feed">
                    <li>INICIO</li>
                </a>
                <a href="/evento">
                    <li>EVENTO</li>
                </a>
                <a href="/anuncio">
                    <li>ANUNCIO</li>
                </a>
                <a href="/emprendimiento">
                    <li>EMPRENDIMIENTO</li>
                </a>
                <a href="/transporte">
                    <li>TRANSPORTE</li>
                </a>
                <a href="/form-reporte">
                    <li>REPORTES</li>
                </a>
                <a href="/panel-admin">
                    <i class="ri-account-circle-fill icon-profile"></i>
                </a>
            </ul>

            <div class="burger"><i class="ri-menu-line"></i></div>
        </nav>
    </header>



    <!-- HERO SECTION -->
    <section class="hero">
        <div class="hero-background"></div>
        <h2 class="hero-subtitle">El barrio más exquisito de San José</h2>
        <h1 class="hero-title">Barrio Escalante</h1>
    </section>



    <!-- WELCOME MESSAGE -->
    <div class="welcome-info">
        <h1>Bienvenidos a la comunidad</h1>
        <div class="welcome-info-container">
            <p>Barrio Escalante, ubicado en el corazón de San José, Costa Rica, es un vibrante punto de encuentro
                cultural, gastronómico y comunitario. Reconocido por su arquitectura histórica, sus cafés al aire libre
                y una comunidad activa, este barrio combina tradición y modernidad, ofreciendo un espacio único para
                convivir, emprender y disfrutar de actividades para todas las edades.</p>
        </div>
    </div>



    <!-- VERTICAL CONTENT -->
    <main>



        <!-- ANUNCIOS -->
        <section class="vertical-content-section vertical-content-section-color">
            <!-- TITULO DE LA SECCION -->
            <div class="title-container">
                <h1>Anuncios de la comunidad</h1>
                <div class="title-text-container">
                    <p>¡Bienvenidos al tablero oficial de anuncios de Barrio Escalante, San José, Costa Rica!</p>
                </div>
            </div>

            <div class="no-created">
                <a><b>Actualmente no hay eventos registrados en tu comunidad.</b><br>
                    Vuelve pronto para descubrir nuevas actividades y oportunidades cerca de ti.</a>
            </div>
            <!-- CONTENIDO DE LA SECCION -->
            <section class="exterior-advertisement-container-anuncios">
                <div class="advertisement-container-anuncios" id="anuncio-padre">

                    <div class="route-card-anuncios">
                        <div class="left-bar"></div>
                        <div class="card-content-anuncios">
                            <h3 id="anuncio-header">Reunión de la comunidad</h3>
                            <div class="route-details-anuncios">
                                <p><strong>Día:</strong></p>
                                <p id="anuncio-dia">08/08/2025</p>
                                <p><strong>Hora:</strong></p>
                                <p id="anuncio-hora">4:00 PM - 8:00 PM</p>
                                <p><strong>Ubicación:</strong></p>
                                <p id="anuncio-ubi">Salón Parroquial</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </section>



        <!-- EMPRENDIMIENTOS -->
        <section class="vertical-content-section">
            <!-- TITULO DE SECCION -->
            <div class="title-container">
                <h1>Emprendimientos</h1>
                <div class="title-text-container">
                    <p>¡Bienvenidos a Barrio Escalante, San José, Costa Rica!</p>
                </div>
            </div>

            <div class="no-created">
                <a><b>Actualmente no hay eventos registrados en tu comunidad.</b><br>
                    Vuelve pronto para descubrir nuevas actividades y oportunidades cerca de ti.</a>
            </div>
            <!-- CONTENIDO DE LA SECCION -->
            <section class="exterior-cards-container">
                <div class="cards-container">
                    <!-- CARD -->
                    <!-- <div class="card">
                        <div class="card-image chismosa"></div>
                        <div class="card-text-container">
                            <p class="card-title">La Chismosa
                            </p>
                            <p class="card-subtitle">Restaurante</p>
                        </div>
                    </div> -->
                </div>
            </section>
        </section>



        <!-- CALL TO ACTION -->

        <section class="create-entrepreneurship-container">
            <div class="create-entrepreneurship-container-limit">
                <div class="create-entrepreneurship-text-container">
                    <h2>¿TE GUSTARÍA PUBLICAR TU</h2>
                    <h1>EMPRENDIMIENTO?</h1>
                    <a href="/form-emprendimiento">
                        <button>Haz Clic Aquí</button>
                    </a>
                </div>

                <div class="create-entrepreneurship-text-container">
                    <p>Al igual que muchas personas en la comunidad, ser emprendedor(a) en nuestro sitio web Comunidad
                        Conectada, podría ayudarte a dar a conocer tus servicios.</p>
                </div>
            </div>
        </section>



        <!-- EVENTOS -->
        <section class="vertical-content-section">
            <!-- TITULO DE LA SECCION -->
            <div class="title-container">
                <h1>Eventos</h1>
                <div class="title-text-container">
                    <p>¡Bienvenidos al calendario oficial de evento de Barrio Escalante, San José, Costa Rica!</p>
                </div>
            </div>
            <div class="no-created">
                <a><b>Actualmente no hay eventos registrados en tu comunidad.</b><br>
                    Vuelve pronto para descubrir nuevas actividades y oportunidades cerca de ti.</a>
            </div>
            <!-- CONTENIDO DE LA SECCION -->
            <section class="exterior-cards-container">
                <div class="cards-container">
                    <!-- CARD -->
                    <!-- <div class="card">
                        <div class="card-image perros"></div>
                        <div class="card-text-container">
                            <p class="card-title">Inauguración Parque de Perros</p>
                            <p class="card-subtitle">San Rafael, Heredia</p>
                        </div>
                    </div> -->

                </div>
            </section>
        </section>

        <!-- CALL TO ACTION -->

        <section class="create-entrepreneurship-container">
            <div class="create-entrepreneurship-container-limit">
                <div class="create-entrepreneurship-text-container">
                    <h2>¿TE GUSTARÍA ENVIAR</h2>
                    <h1>UN REPORTE?</h1>
                    <a href="/form-reporte">
                        <button>Haz Clic Aquí</button>
                    </a>
                </div>

                <div class="create-entrepreneurship-text-container">
                    <p>Comprendemos lo importante que es para ti que la comunidad sea segura y se mantenga el orden, por
                        ello hemos hecho este formulario para enviar reportes, quejas o avisas a la Municipalidad de San
                        José.</p>
                </div>
            </div>
        </section>

        <!-- TRANSPORTE -->
        <section class="vertical-content-section vertical-content-section-transporte">
            <!-- TITULO DE LA SECCION -->
            <div class="title-container">
                <h1>Ruta de buses</h1>
                <div class="title-text-container">
                    <p>Consulte las rutas de buses disponibles en Barrio Escalante. </p>
                </div>
            </div>
            <div class="no-created">
                <a><b>Actualmente no hay eventos registrados en tu comunidad.</b><br>
                    Vuelve pronto para descubrir nuevas actividades y oportunidades cerca de ti.</a>
            </div>
            <!-- CONTENIDO DE LA SECCION -->
            <section class="transport-section">
                <div class="route-container">
                    <!-- RUTA -->
                    <!-- <div class="route-card">
                        <div class="left-bar"></div>
                        <div class="card-content">
                            <h3>Ruta 01 – Centro – Universidad</h3>
                            <div class="route-details">
                                <p><strong>Horarios:</strong><br> 6:00 AM - 10:00 PM (cada 20 min)</p>
                                <p><strong>Precio:</strong><br> 450 colones</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </section>
        </section>


    </main>


    <!-- SITE FOOTER -->
    <footer>
        <div class="exterior-site-footer">
            <div class="site-footer">
                <!--Slogan -->

                <section class="slogan-container">
                    <div class="text-logos">
                        <h1>Comunidad <span>Conectada</span></h1>
                        <h3>Fortaleciendo Comunidades, Forjando Conexiones</h3>
                        <p>Somos el sitio web que te permite estar al tanto de los evento, conocer emprendimiento y al
                            mismo tiempo, ser escuchado(a)...</p>
                    </div>
                </section>
                <section class="links-container">
                    <!--Ayuda-->
                    <div class="ayuda-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>SERVICIOS</h4>
                        </div>
                        <a href="/evento">Evento</a>
                        <a href="/form-reporte">Reportes</a>
                    </div>

                    <!--Comunidad-->
                    <div class="comunidad-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>COMUNIDAD</h4>
                        </div>
                        <a href="/feed">Inicio</a>
                        <a href="/anuncio">Anuncio</a>
                        <a href="/emprendimiento">Emprendimiento</a>
                        <a href="/transporte">Transporte</a>
                    </div>

                    <!--Contáctenos-->
                    <div class="contactenos-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>CONTÁCTENOS</h4>
                        </div>
                        <div class="contact-info-container">
                            <p>Teléfono </p>
                            <p>(+506) 2222 2222</p>
                            <p>Correo Electrónico</p>
                            <p>comu@conectada.com</p>
                        </div>
                    </div>
                </section>

                <!--Redes sociales-->
                <section class="icon-container">
                    <span class="circle"><a href="https://mail.google.com/mail/u/0/#inbox"><i
                                class="ri-at-line"></i></a></span>
                    <span class="circle"><a
                            href="https://api.whatsapp.com/message/TVM3RN532LFSM1?autoload=1&app_absent=0"><i
                                class="ri-phone-line"></i></a></span>
                    <span class="circle"><a
                            href="https://www.facebook.com/munidesanjose/photos/atenci%C3%B3n-vecinos-de-barrio-escalante-%EF%B8%8Fla-municipalidad-de-san-jos%C3%A9-les-invita-a-/1072460014907914/"><i
                                class="ri-facebook-circle-fill"></i></a></span>
                    <span class="circle"><a
                            href="https://www.instagram.com/explore/locations/235300327/barrio-escalante-san-jose-costa-rica/?hl=en"><i
                                class="ri-instagram-line"></i></a></span>
                    <span class="circle"><a href="https://x.com/ldacr"><i class="ri-twitter-x-line"></i></a></span>
                </section>
            </div>
        </div>
        <!--Copyright-->
        <section class="copyright-container">
            <p>Copyright © TITÍ CODE 2025. All Rights Reserved.</p>
        </section>
    </footer>
    <script src=""></script>
</body>

</html>