/* ============================= */
/*     # VARIABLES: COLORES     */
/* ============================= */

:root {
    --gris: #D7DEE8;
    --gris-oscuro: #6b6b6b;
    --azul-claro: #699AFF;
    --azul-medio: #4D7ECA;
    --azul-oscuro: #29588F;
    --blanco: #FFFFFF;
    --negro: #000000;

}


/* ============================= */
/*     # COMPONENTE: GLOBALES   */
/* ============================= */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body,
html {
    overflow-x: hidden;
}


/* ============================= */
/*     # COMPONENTE: NAVBAR     */
/* ============================= */

/* ===== # NAVBAR: CLASES ===== */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: var(--gris);
}

.title-header {
    color: var(--azul-oscuro);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 2rem;
}

.title-header span {
    font-weight: 800;
}

.logo {
    margin-left: 2rem;
    height: 40px;
    width: 200px;
}

.options {
    display: flex;
    gap: 3rem;
    margin: 0rem 1.5rem;
    align-items: center;
}

.options a {
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--azul-oscuro);
}

.options li {
    list-style: none;
    transition: .5s;
}

.options li:hover {
    color: var(--blanco);
    background-color: var(--azul-oscuro);
    padding: 6px 20px;
    border-radius: 50px;
    transition: .5s;
}

.icon-profile {
    font-size: 2rem;
}

.burger {
    display: none;
}

/* ===== # NAVBAR: MEDIA QUERIES ===== */

@media (max-width: 1090px) {
    .options {
        display: none;
    }

    .burger {
        display: block;
        margin-right: 2rem;
        font-size: 40px;
        color: var(--azul-oscuro);
        transition: 0.10s;
    }

    .burger:hover {
        cursor: pointer;
        color: var(--azul-claro);
        transition: 0.10s;
    }
}

@media (max-width: 1150px) {
    .title-header {
        font-size: 1.2rem;
    }
}


/* ============================= */
/*     # COMPONENTE: HERO       */
/* ============================= */

.hero {
    width: 100%;
    height: 60vh;
    min-height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--azul-oscuro);
}

.hero-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../assets/images/hero/Eventos.PNG');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 1;
}

.hero-background.luces {

    background-image: url('../../assets/images/eventos/luces.jpg');
}

.hero-title {
    color: var(--blanco);
    font-size: 7vw;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: 1vw;
    text-transform: uppercase;
    padding: 0 5%;
    line-height: 1.2;
    padding: auto;
}

@media (max-width: 830px) {
    .hero {
        height: 30vw;
        min-height: 220px;
    }
}

/* ============================= */
/*     # COMPONENTE: TITLES      */
/* ============================= */


.title-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 4%;
}

.title-container h1 {
    color: var(--azul-oscuro);

}

.title-container p {
    margin-top: 1%;
    color: var(--azul-oscuro);
    max-width: 40%;
    min-width: 40%;

}

.title-text-container {
    display: flex;
    justify-content: center;
}

/* ============================= */
/*     # COMPONENTE: CARDS      */
/* ============================= */

.exterior-cards-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 60%;
}

.cards-container a {
    text-decoration: none;
}

.card {
    height: 450px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 6px 12px #29598f91;
    transition: all 0.3s ease-out;
    min-width: 200px;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("../../assets/images/emprendimientos/logos/Calle\ 33.png");
    height: 70%;
}

.card-image.perros {
    background-image: url('../../assets/images/eventos/parque-perros.jpg');
}

.card-image.luces {
    background-image: url('../../assets/images/eventos/luces.jpg');
}

.card-image.concierto {
    background-image: url('../../assets/images/eventos/concierto.jpg');
}

.card-image.feria {
    background-image: url('../../assets/images/eventos/feria.jpg');
}

.card-image.caminata {
    background-image: url('../../assets/images/eventos/caminata.jpg');
}

.card-image.taller {
    background-image: url('../../assets/images/eventos/taller.jpg');
}

.card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30%;
    margin-left: 10%;
    gap: 10%;
}

.card-title {
    color: var(--azul-oscuro);
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 90%;
}

.card-subtitle {
    color: var(--azul-oscuro);
    font-size: 0.9rem;
}

/* ===== # CARDS: MEDIA QUERIES ===== */

@media (max-width: 1400px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1035px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 679px) {
    .cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
}



/* ============================= */
/*     # COMPONENTE: PUBLISH EVENT*/
/* ============================= */

.publish-event-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    color: var(--blanco);
    height: 40vh;
    background-color: var(--azul-oscuro);
}

.publish-event-text-container {
    margin-left: 4%;
    font-style: italic;
}

.publish-event-text-container h2 {
    font-size: 2rem;
    font-weight: normal;
}

.publish-event-text-container h1 {
    font-size: 5rem;
}

.publish-event-container a {
    text-decoration: none;
    color: var(--blanco);
}

.publish-event-container a:hover {

    transition: 0.10s;
    color: var(--gris);
}

.publish-event-text-container p {
    max-width: 550px;
}

.publish-event-text-container button {
    width: 40%;
    height: 40px;
    color: var(--azul-oscuro);
    border-radius: 20px;
    border-style: none;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 5%;
}

.publish-event-text-container button:hover {
    transform: translateY(-5px);
    transition: 0.10s;
    cursor: pointer;
    background-color: var(--gris);
}


/* ============================= */
/*  EMPRENDIMIENTOS ESPECÍFICOS  */
/* ============================= */

/* General */
.enterprise-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 50vh;
}

.enterprise-info h1 {
    color: var(--azul-oscuro);
    font-size: 24px;
    font-weight: 900;
    cursor: default;
}

.enterprise-info p {
    color: var(--azul-oscuro);
    font-size: 18px;
    margin-top: 4%;
    cursor: default;
}

/* Izquierda */
.enterprise-info-left {
    width: 100%;
    height: 100%;
    padding: 8% 10%;
    padding-right: 20%;
}

.enterprise-top-left {
    weight: 100%;
    height: 80%;
}

.enterprise-bottom-left {
    weigth: 100%;
    height: 30%;
}

.enterprise-location h1 {
    margin-bottom: 4%;
}

.enterprise-location a {
    text-decoration: none;
    color: var(--azul-oscuro);
    font-size: 18px;
    display: inline;
}

.enterprise-location a:hover {
    color: var(--azul-claro);
}



/* Derecha */
.enterprise-info-right {
    width: 100%;
    height: 100%;
    padding: 8% 10%;
    padding-right: 20%;
}

.enterprise-top-right {
    weight: 100%;
    height: 80%;
}

.enterprise-schedules {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.enterprise-bottom-right {
    weigth: 100%;
    height: 30%;
}

.area-code {
    display: inline;
}

.enterprise-phone .area-code {
    color: var(--azul-claro);
}

.phone-number {
    display: inline;

}

.enterprise-phone h1 {
    margin-bottom: 4%;
}

@media (max-width: 1200px) {
    .enterprise-info {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        text-align: center;
    }

    /* Izquierda */
    .enterprise-info-left {
        width: 100%;
        height: 50%;
        padding: 2% 4%;
        margin: 0%;
    }

    .enterprise-top-left {
        margin-bottom: 2%;
        padding: 0 12%;
    }

    /* Derecha */
    .enterprise-info-right {
        width: 100%;
        height: 50%;
        padding: 2% 4%;
        margin: 0%;
    }

    /* General */
    .enterprise-top-left .enterprise-bottom-left .enterprise-top-right .enterprise-bottom-right {
        width: 100%;
        height: auto;
    }

    .enterprise-info p {
        margin-top: 0.5%;
    }

    /* Derecha */
    .enterprise-top-right {
        margin-bottom: 2%;
    }

    /* Días y Horas */
    .enterprise-days {
        text-align: right;
        padding-right: 6%;
    }

    .enterprise-hours {
        text-align: left;
        padding-left: 1.5%;
    }

    .enterprise-phone h1 {
        margin-bottom: 1%;
    }

    .enterprise-phone p {
        font-size: 20px;
    }

}

@media (max-width: 430px) {

    /* General */
    .enterprise-info h1 {
        font-size: 18px;
    }

    .enterprise-info p {
        font-size: 12px;
    }

    /* Izquierda */
    .enterprise-top-left {
        padding: 0% 8%;
        padding-top: 8%;
        padding-bottom: 4%;
    }

    .enterprise-bottom-left {
        padding: 4% 8%;
    }

    .enterprise-bottom-left h1 {
        margin-bottom: 4%;
    }

    .enterprise-location a {
        font-size: 12px;
    }

    /* Derecha */
    .enterprise-info-right {
        padding: 0% 20%;
    }

    .enterprise-top-right {
        padding: 4% 1%;
    }

    .enterprise-top-right h1 {
        margin-bottom: 4%;
    }

    .enterprise-top-right p {
        font-size: 12px;
    }

    .enterprise-days {
        text-align: center;
        padding-right: 0%;
    }

    .enterprise-hours {
        text-align: center;
        padding-left: 0%;
    }

    .enterprise-bottom-right {
        padding: 8% 8%;
    }

    .enterprise-phone h1 {
        margin-bottom: 4%;
    }

    .enterprise-phone p {
        font-size: 16px;
    }

    .enterprise-description {
        margin-top: 3%;
    }

    .enterprise-description p {
        font-size: 1.1rem;
        margin-top: 5%;
    }

    .enterprise-description h1 {
        font-size: 1.4rem;
    }

    .enterprise-location h1 {
        font-size: 1.4rem;
    }

    .enterprise-location a {
        font-size: 1.1rem;
    }

    .enterprise-info-right p {
        margin-top: 5%;
        font-size: 1.1rem;
    }

    .enterprise-info-right h1 {
        font-size: 1.6rem;
    }

    .enterprise-hours b {
        font-size: 0.8rem;
    }

    .enterprise-info-right {
        width: 100%;
    }
}

/* ============================= */
/*     # COMPONENTE: FOOTER     */
/* ============================= */

.exterior-site-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(215, 222, 232, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.site-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    width: 80%;
    max-height: auto;
    bottom: 0;
    gap: 4vh;
    margin: 45px auto;
    margin-top: 60px;
}

.site-footer a {
    color: var(--azul-oscuro);
    text-decoration: none;
}

.site-footer a:hover {
    color: var(--azul-claro);
    text-decoration: none;
    transition: 0.10s;
}

.slogan-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    text-align: start;
}

.text-logos h1 {
    color: var(--azul-oscuro);
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px auto;
}

.text-logos h1 span {
    font-weight: 800;
}

.text-logos h3 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--azul-medio);
    margin: 10px auto 15px;
}

.text-logos p {
    margin-bottom: 0.5rem;
    font-size: 1.18rem;
    color: var(--azul-oscuro);
    margin: 5px auto;
}

.links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--azul-oscuro);
    margin: 45px auto;
    padding: 0px 70px 0px 0px;
}

.ayuda-container,
.comunidad-container,
.contactenos-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.arrow-container i {
    display: none;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 4vh;
    width: 100%;
    font-size: 29px;
    color: var(--blanco);
}

.icon-container i {
    color: var(--blanco);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--azul-medio);
    transition: .5s;
}

.circle:hover {
    transition: 0.10s;
    background-color: var(--azul-oscuro);
}

.copyright-container {
    display: flex;
    height: 6vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--azul-medio);
    color: var(--blanco);
    font-size: 1.3rem;
}


/* ===== # FOOTER: MEDIA QUERIES ===== */

@media (max-width: 1100px) {
    .slogan-container {
        margin-top: 0rem;
        text-align: center;
    }

    .text-logos h1 {
        font-size: 2.2rem;
    }

    .text-logos h3 {
        font-size: 1.5rem;
    }

    .text-logos p {
        font-size: 1rem;
        width: 90%;
    }

    .links-container {
        padding: 0px;
    }

    .ayuda-container,
    .comunidad-container,
    .contactenos-container {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .slogan-container {
        margin-top: 0rem;
    }

    .text-logos h1 {
        font-size: 1.5rem;
    }

    .text-logos h3 {
        font-size: 1.2rem;
    }

    .text-logos p {
        font-size: 1rem;
        text-align: justify;
    }

    .ayuda-container,
    .comunidad-container,
    .contactenos-container {
        font-size: 1rem;
    }

    .links-container {
        flex-direction: column;
        align-items: start;
        gap: 2rem;
        padding: 0px 0px 0px 15px;

    }


    .links-container a {
        display: none;
    }

    .contact-info-container {
        display: none;
    }

    .arrow-container {
        display: flex;
        align-items: center;
    }

    .arrow-container:hover {
        cursor: pointer;
        color: var(--azul-claro);
    }

    .arrow-container i {
        display: flex;
        align-items: center;
        font-size: 35px;
    }

    .circle {
        width: 25px;
        height: 25px;
        padding: 20px;
    }

    .copyright-container {
        font-size: .8rem;
    }
}

/* Ajusted para celular */
@media (max-width: 435px) {
    .cards-container {
        width: 65%;
    }

    .title-text-container p {
        margin-top: 5%;
        min-width: 90%;
        font-size: 1rem;
    }

    .back-container {
        margin-top: 12%;
    }

    .title-container h1 {
        margin-top: 12%;
        width: 95%;
        text-align: center;

    }

    .exterior-cards-container {
        margin-top: 10%;
        margin-bottom: 2%;
    }

    .publish-event-container {
        margin-top: 20%;
        flex-direction: column;
        height: 50vh;

    }

    .publish-event-text-container {
        margin-left: 2%;
    }

    .publish-event-text-container h2 {
        font-size: 1.4rem;
    }

    .publish-event-text-container h1 {
        font-size: 4rem;
    }

    .publish-event-text-container p {
        margin-top: 10%;
        font-size: 1rem;
        max-width: 95%;
        text-align: center;
    }

    .publish-event-text-container button {
        margin-top: 10%;
        width: 100%;
    }
}

@media (max-width: 380px) {
    .cards-container {
        width: 75%;
    }


    .publish-event-container {

        height: 70vh;

    }
}