<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidad Conectada</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!--Header/Footer CSS-->
    <link rel="stylesheet" href="../../../assets/styles/global.css">
    <link rel="stylesheet" href="feed.css">
</head>

<body>
    <!-- SITE MENU -->
    <header>
        <nav class="menu">

            <h1 class="title-header">
                Comunidad <span>Conectada</span>
            </h1>
            <ul class="options">
                <a href="../feed/feed.html">
                    <li>INICIO</li>
                </a>
                <a href="../evento/evento.html">
                    <li>EVENTO</li>
                </a>
                <a href="../anuncio/anuncio.html">
                    <li>ANUNCIO</li>
                </a>
                <a href="../emprendimiento/emprendimiento.html">
                    <li>EMPRENDIMIENTO</li>
                </a>
                <a href="../transporte/transporte.html">
                    <li>TRANSPORTE</li>
                </a>
                <a href="../../forms/form-reporte/form-reporte.html">
                    <li>REPORTES</li>
                </a>
                <a>
                    <i class="ri-account-circle-fill icon-profile"></i>
                </a>
            </ul>
            <div class="burger"><i class="ri-menu-line"></i></div>
        </nav>
    </header>



    <!-- HERO SECTION -->
    <section class="hero">
        <div class="hero-background"></div>
        <h2 class="hero-subtitle">El barrio más exquisito de San José</h2>
        <h1 class="hero-title">Barrio Escalante</h1>
    </section>



    <!-- WELCOME MESSAGE -->
    <div class="welcome-info">
        <h1>Bienvenidos a la comunidad</h1>
        <div class="welcome-info-container">
            <p>Barrio Escalante, ubicado en el corazón de San José, Costa Rica, es un vibrante punto de encuentro
                cultural, gastronómico y comunitario. Reconocido por su arquitectura histórica, sus cafés al aire libre
                y una comunidad activa, este barrio combina tradición y modernidad, ofreciendo un espacio único para
                convivir, emprender y disfrutar de actividades para todas las edades.</p>
        </div>
    </div>



    <!-- VERTICAL CONTENT -->
    <main>



        <!-- ANUNCIOS -->
        <section class="vertical-content-section vertical-content-section-color">
            <!-- TITULO DE LA SECCION -->
            <div class="title-container">
                <h1>Anuncios de la comunidad</h1>
                <div class="title-text-container">
                    <p>¡Bienvenidos al tablero oficial de anuncios de Barrio Escalante, San José, Costa Rica!</p>
                </div>
            </div>


            <!-- CONTENIDO DE LA SECCION -->
            <section class="exterior-advertisement-container-anuncios">
                <div class="advertisement-container-anuncios">
                    <!-- ANUNCIO -->
                    <div class="route-card-anuncios">
                        <div class="left-bar"></div>
                        <div class="card-content-anuncios">
                            <h3>Reunión de la comunidad</h3>
                            <div class="route-details-anuncios">
                                <p><strong>Horarios:</strong><br> 4:00 PM - 8:00 PM</p>
                                <p><strong>Ubicación:</strong><br> Salón parroquial</p>
                            </div>
                        </div>
                    </div>
                    <!-- ANUNCIO -->
                    <div class="route-card-anuncios">
                        <div class="left-bar"></div>
                        <div class="card-content-anuncios">
                            <h3>Corte de Agua Repentino</h3>
                            <div class="route-details-anuncios">
                                <p><strong>Horarios:</strong><br> 6:00 AM - 2:00 PM</p>
                                <p><strong>Ubicación:</strong><br>Norte de la iglesia</p>
                            </div>
                        </div>
                    </div>
                    <!-- ANUNCIO -->
                    <div class="route-card-anuncios">
                        <div class="left-bar"></div>
                        <div class="card-content-anuncios">
                            <h3>Horario Camión de la Basura</h3>
                            <div class="route-details-anuncios">
                                <p><strong>Horarios:</strong><br> 7:00 AM - 10:00 AM</p>
                                <p><strong>Ubicación:</strong><br> Frente al Ebais</p>
                            </div>
                        </div>
                    </div>
                    <!-- ANUNCIO -->
                    <div class="route-card-anuncios">
                        <div class="left-bar"></div>
                        <div class="card-content-anuncios">
                            <h3>Cine al Aire Libre Más Palomitas</h3>
                            <div class="route-details-anuncios">
                                <p><strong>Horarios:</strong><br> 6:30 PM - 9:00 PM</p>
                                <p><strong>Ubicación:</strong><br> Parque del barrio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>



        <!-- EMPRENDIMIENTOS -->
        <section class="vertical-content-section">
            <!-- TITULO DE SECCION -->
            <div class="title-container">
                <h1>Emprendimientos</h1>
                <div class="title-text-container">
                    <p>¡Bienvenidos a Barrio Escalante, San José, Costa Rica!</p>
                </div>
            </div>

            <!-- CONTENIDO DE LA SECCION -->
            <section class="exterior-cards-container">
                <div class="cards-container">
                    <!-- CARD -->
                    <div class="card">
                        <div class="card-image chismosa"></div>
                        <div class="card-text-container">
                            <p class="card-title">La Chismosa
                            </p>
                            <p class="card-subtitle">Restaurante</p>
                        </div>
                    </div>
                    <!-- CARD -->
                    <div class="card">
                        <div class="card-image santopecado"></div>
                        <div class="card-text-container">
                            <p class="card-title"> Santo Pecado
                            </p>
                            <p class="card-subtitle">Restaurante
                            </p>
                        </div>
                    </div>
                    <!-- CARD -->
                    <div class="card">
                        <div class="card-image beerfactory"></div>
                        <div class="card-text-container">
                            <p class="card-title">Beer Factory
                            </p>
                            <p class="card-subtitle">Bar & Grill
                            </p>
                        </div>
                    </div>
                    <!-- CARD -->
                    <div class="card">
                        <div class="card-image lacentral"></div>
                        <div class="card-text-container">
                            <p class="card-title">La Central

                            </p>
                            <p class="card-subtitle">Restaurante</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>



        <!-- CALL TO ACTION -->

        <section class="create-entrepreneurship-container">
            <div class="create-entrepreneurship-container-limit">
                <div class="create-entrepreneurship-text-container">
                    <h2>¿TE GUSTARÍA PUBLICAR TU</h2>
                    <h1>EMPRENDIMIENTO?</h1>
                    <a href="../../forms/form-emprendimiento/form-emprendimiento.html">
                        <button>Haz Clic Aquí</button>
                    </a>
                </div>

                <div class="create-entrepreneurship-text-container">
                    <p>Al igual que muchas personas en la comunidad, ser emprendedor(a) en nuestro sitio web Comunidad
                        Conectada,
                        podría ayudarte a dar a conocer tus servicios.</p>
                </div>
            </div>
        </section>



        <!-- EVENTOS -->
        <section class="vertical-content-section">
            <!-- TITULO DE LA SECCION -->
            <div class="title-container">
                <h1>Eventos</h1>
                <div class="title-text-container">
                    <p>¡Bienvenidos al calendario oficial de evento de {Cantón, Provincia}, Costa Rica!</p>
                </div>
            </div>

            <!-- CONTENIDO DE LA SECCION -->
            <section class="exterior-cards-container">
                <div class="cards-container">
                    <!-- CARD -->
                    <div class="card">
                        <div class="card-image perros"></div>
                        <div class="card-text-container">
                            <p class="card-title">Inauguración Parque de Perros</p>
                            <p class="card-subtitle">San Rafael, Heredia</p>
                        </div>
                    </div>
                    <!-- CARD -->
                    <a href="../evento/evento-especificos-usuario.html">
                        <div class="card">
                            <div class="card-image luces"></div>
                            <div class="card-text-container">
                                <p class="card-title"> Festival de Luces Navideñas</p>
                                <p class="card-subtitle">Santa Bárbara, Heredia</p>
                            </div>
                        </div>
                    </a>
                    <!-- CARD -->
                    <div class="card">
                        <div class="card-image concierto"></div>
                        <div class="card-text-container">
                            <p class="card-title">Concierto en la Plaza Central</p>
                            <p class="card-subtitle">Heredia Centro</p>
                        </div>
                    </div>
                    <!-- CARD -->
                    <div class="card">
                        <div class="card-image feriaagricultor"></div>
                        <div class="card-text-container">
                            <p class="card-title">Feria del Agricultor</p>
                            <p class="card-subtitle">San Isidro, Heredia</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <!-- CALL TO ACTION -->

        <section class="create-entrepreneurship-container">
            <div class="create-entrepreneurship-container-limit">
                <div class="create-entrepreneurship-text-container">
                    <h2>¿TE GUSTARÍA ENVIAR</h2>
                    <h1>UN REPORTE?</h1>
                    <a href="../../forms/form-reporte/form-reporte.html">
                        <button>Haz Clic Aquí</button>
                    </a>
                </div>

                <div class="create-entrepreneurship-text-container">
                    <p>Comprendemos lo importante que es para ti que la comunidad sea segura y se mantenga el orden, por
                        ello hemos hecho este formulario para enviar reportes, quejas o avisas a la Municipalidad de San
                        José.</p>
                </div>
            </div>
        </section>

        <!-- TRANSPORTE -->
        <section class="vertical-content-section">
            <!-- TITULO DE LA SECCION -->
            <div class="title-container">
                <h1>Ruta de buses</h1>
                <div class="title-text-container">
                    <p>Consulte las rutas de buses disponibles en {cantón}. </p>
                </div>
            </div>

            <!-- CONTENIDO DE LA SECCION -->
            <section class="transport-section">
                <div class="route-container">
                    <!-- RUTA -->
                    <div class="route-card">
                        <div class="left-bar"></div>
                        <div class="card-content">
                            <h3>Ruta 01 – Centro – Universidad</h3>
                            <div class="route-details">
                                <p><strong>Horarios:</strong> 6:00 AM - 10:00 PM (cada 20 min)</p>
                                <p><strong>Precio:</strong> 450 colones</p>
                            </div>
                        </div>
                    </div>
                    <!-- RUTA -->
                    <div class="route-card">
                        <div class="left-bar"></div>
                        <div class="card-content">
                            <h3>Ruta 02 – Centro – Hospital</h3>
                            <div class="route-details">
                                <p><strong>Horarios:</strong> 5:30 AM - 9:30 PM (cada 15 min)</p>
                                <p><strong>Precio:</strong> 450 colones</p>
                            </div>
                        </div>
                    </div>
                    <!-- RUTA -->
                    <div class="route-card">
                        <div class="left-bar"></div>
                        <div class="card-content">
                            <h3>Ruta 03 – Universidad – Barrio Norte</h3>
                            <div class="route-details">
                                <p><strong>Horarios:</strong> 7:00 AM - 8:00 PM (cada 30 min)</p>
                                <p><strong>Precio:</strong> 450 colones</p>
                            </div>
                        </div>
                    </div>

                    <div class="route-card">
                        <div class="left-bar"></div>
                        <div class="card-content">
                            <h3>Ruta 03 – Universidad – Barrio Norte</h3>
                            <div class="route-details">
                                <p><strong>Horarios:</strong> 7:00 AM - 8:00 PM (cada 30 min)</p>
                                <p><strong>Precio:</strong> 450 colones</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>


    </main>


    <!-- SITE FOOTER -->
    <footer>
        <div class="exterior-site-footer">
            <div class="site-footer">
                <!--Slogan -->

                <section class="slogan-container">
                    <div class="text-logos">
                        <h1>Comunidad <span>Conectada</span></h1>
                        <h3>Fortaleciendo Comunidades, Forjando Conexiones</h3>
                        <p>Somos el sitio web que te permite estar al tanto de los evento, conocer emprendimiento y al
                            mismo tiempo, ser escuchado(a)...</p>
                    </div>
                </section>
                <section class="links-container">
                    <!--Ayuda-->
                    <div class="ayuda-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>SERVICIOS</h4>
                        </div>
                        <a href="../../public-views/evento/evento.html">Evento</a>
                        <a href="../../forms/form-reporte/form-reporte.html">Reportes</a>
                        <a href="../../public-views/calendario/calendario.html">Calendario</a>
                    </div>
                    <!--Comunidad-->
                    <div class="comunidad-container">

                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>COMUNIDAD</h4>
                        </div>

                        <a href="../../public-views/feed/feed.html">Inicio</a>
                        <a href="../../public-views/anuncio/anuncio.html">Anuncio</a>
                        <a href="../../public-views/emprendimiento/emprendimiento.html">Emprendimiento</a>
                        <a href="../../public-views/transporte/transporte.html">Transporte</a>
                    </div>
                    <!--Contáctenos-->
                    <div class="contactenos-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>CONTÁCTENOS</h4>
                        </div>
                        <div class="contact-info-container">
                            <p href="">Teléfono </p>
                            <p href="">(+506) 2222 2222</p>
                            <p href="">Correo Electrónico</p>
                            <p href="">comu@conectada.com</p>
                        </div>
                    </div>
                </section>

                <!--Redes sociales-->
                <section class="icon-container">
                    <span class="circle"><a href="https://mail.google.com/mail/u/0/#inbox"><i
                                class="ri-at-line"></i></a></span>
                    <span class="circle"><a
                            href="https://api.whatsapp.com/message/TVM3RN532LFSM1?autoload=1&app_absent=0"><i
                                class="ri-phone-line"></i></a></span>
                    <span class="circle"><a
                            href="https://www.facebook.com/p/San-Rafael-es-Pura-Vida-100092185267522/"><i
                                class="ri-facebook-circle-fill"></i></a></span>
                    <span class="circle"><a href="https://www.instagram.com/sanra_es_puravida1885/"><i
                                class="ri-instagram-line"></i></a></span>
                    <span class="circle"><a href="https://x.com/ldacr"><i class="ri-twitter-x-line"></i></a></span>
                </section>
            </div>
        </div>
        <!--Copyright-->
        <section class="copyright-container">
            <p>Copyright © TITÍ CODE 2025. All Rights Reserved.</p>
        </section>
    </footer>
</body>

</html>