/* HERO SECTION */

.hero {
        width: 100%;
        height: 92vh;
        min-height: 250px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: var(--azul-oscuro);
    }
    
    .hero-background {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('../../../assets/images/hero/barrio.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: 1;
    }

    .hero h2 {
        color: var(--blanco);
        z-index: 2;
        font-size: 2rem;
        text-transform: uppercase;
    }

    .hero-title {
        color: var(--blanco);
        font-size: 5rem;
        font-weight: 900;
        text-align: center;
        position: relative;
        z-index: 2;
        text-transform: uppercase;
    }


/* WELCOME MESSAGE */

.welcome-info{
        height: 100vh;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .welcome-info h1 {
        color: var(--azul-oscuro);
        font-size: 2rem;
        text-transform: uppercase;
    }

    .welcome-info-container {
        display: flex;
        justify-content: center;
        color: var(--azul-oscuro);
    }

    .welcome-info p{
        max-width: 80%;
        font-size: 1.5rem;
        text-align: center;
        padding: 50px 0px;
    }


    /* CONTENEDOR POR SECCION */
    .vertical-content-section{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }


    /* TITULO POR SECCION */
    .title-container {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .title-container h1 {
        color: var(--azul-oscuro);
        font-size: 2rem;
        text-transform: uppercase;
    }

    .title-container p {
        margin-top: 1%;
        color: var(--azul-oscuro);
        font-size: 1.5rem;
        max-width: 80%;
        min-width: 40%;
        font-style: italic;
    }

    .title-text-container {
        display: flex;
        justify-content: center;
    }



    /* CONTENIDO INTERNO para emprendimiento y eventos por igual (CARDS) */
    .exterior-cards-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        width: 60%;
        justify-content: center;
    }

    .cards-container a {
        text-decoration: none;
    }

    .card {
        height: 450px;
        width: 280px;
        border-radius: 20px;
        box-shadow: 0 0px 12px #29598f91;
        min-width: 200px;
        background-color: white;
        color: var(--azul-oscuro);
        transition: all 0.3s ease-out;
    }

    /* EN LA TRANSICION AHORA TAMBIEN SE DESPLAZA PARA ARRIBA */
    .card:hover {
        transform: translateY(-5px);
        cursor: pointer;
        box-shadow: 0 6px 12px #29598f91;
    }

    .card-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-image: url("../../../assets/images/emprendimiento/logos/Calle\ 33.png");
        height: 70%;
    }

    .card-image.chismosa {
        background-image: url('../../../assets/images/emprendimiento/logos/La\ Chismosa.png');
    }

    .card-image.santopecado {
        background-image: url('../../../assets/images/emprendimiento/logos/Santo\ Pecado.png');
    }

    .card-image.beerfactory {
        background-image: url('../../../assets/images/emprendimiento/logos/Beer\ Factory.png');
    }

    .card-image.lacentral {
        background-image: url('../../../assets/images/emprendimiento/logos/La\ Central.png');
    }

    .card-image.perros {
        background-image: url('../../../assets/images/evento/parque-perros.jpg');
    }

    .card-image.luces {
        background-image: url('../../../assets/images/evento/luces.jpg');
    }

    .card-image.concierto {
        background-image: url('../../../assets/images/evento/concierto.jpg');
    }

    .card-image.feriaagricultor {
        background-image: url('../../../assets/images/evento/feria.jpg');
    }

    /* TAMBIEN PERTENECE A EMPRENDIMIENTOS, PERO A SU VEZ A EVENTOS */

    .card-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 30%;
        padding-left: 10%;
        gap: 10%;
    }

    .card-title {
        color: var(--azul-oscuro);
        font-size: 1.5rem;
        font-weight: bold;
        max-width: 90%;
    }

    .card-subtitle {
        color: var(--azul-oscuro);
        font-size: 0.9rem;
    }



    /* ANUNCIOS */

    /* SECCION EN AZUL */
    .vertical-content-section-color{
        background-color: var(--azul-oscuro);
        color: white;
    }

    .vertical-content-section-color h1{
        color: white;
    }

    .vertical-content-section-color p{
        color: white;
    }

    .exterior-advertisement-container-anuncios {
        display: flex;
        justify-content: center;
    }

    .advertisement-container-anuncios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        width: 80%;
    }

    .route-card-anuncios {
        display: flex;
        background-color: var(--blanco);
        border-radius: 10px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
        min-height: 203px;
        transition: .5s;
    }

    .left-bar {
        width: 8px;
        background-color: var(--azul-oscuro);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .card-content-anuncios {
        padding: 1.5rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .route-card-anuncios:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        transition: .5s;
    }

    .route-card-anuncios h3 {
        color: var(--azul-oscuro);
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    .route-details-anuncios p {
        margin-bottom: 0.5rem;
        color: var(--azul-oscuro);
        line-height: 1.5;
        font-size: 1.1rem;
    }


/* ACABAN LAS CLASES DE LA SECCION DE ANUNCIOS */

/* INICIAN CLASES DEL CALL TO ACTION */

/* ==================================== */
/* #COMPONENTE: CREATE ENTREPRENEURSHIP */
/* ==================================== */

.create-entrepreneurship-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    height: 60vh;
    background-color: var(--azul-oscuro);
}

.create-entrepreneurship-container-limit{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    align-items: center;
}

.create-entrepreneurship-text-container {
    font-style: italic;
    text-align: center;
}

.create-entrepreneurship-text-container h2 {
    font-size: 2.9rem;
    font-weight: normal;
}

.create-entrepreneurship-text-container h1 {
    font-size: 4rem;
}

.create-entrepreneurship-container a {
    text-decoration: none;
    color: var(--blanco);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.create-entrepreneurship-text-container p {
    font-size: 1.4rem;
    text-align: justify;
}

.create-entrepreneurship-text-container button {
    width: 40%;
    height: 40px;
    color: var(--azul-oscuro);
    border-radius: 20px;
    border-style: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 5%;
    justify-content: center;
    text-align: center;
    transition: .8s;
}


.create-entrepreneurship-text-container button:hover {
    width: 100%;
    font-weight: 700;
    transform: translateY(-5px);
    cursor: pointer;
    transition: .8s;
}



/* ESTILOS PARA RUTAS */

.transport-section {
        width: 80%;
        margin: 2rem auto;
        padding: 2rem 0;
    }

    .transport-header {
        text-align: center;
        margin-bottom: 3rem;
    }

    .transport-header h1 {
        color: var(--azul-oscuro);
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    .route-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 5rem;

    }

    .route-card {
        display: flex;
        background-color: var(--blanco);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        min-height: 203px;
        transition: transform 0.3s;
    }

    .left-bar {
        width: 8px;
        background-color: var(--azul-claro);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .card-content {
        padding: 1.5rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .route-card:hover {
        transform: translateY(-5px);
    }

    .route-card h3 {
        color: var(--azul-oscuro);
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    .route-details p {
        margin-bottom: 0.5rem;
        color: var(--azul-oscuro);
        line-height: 1.5;
        font-size: 1.1rem;

    }