<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Comunidad Conectada</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="PanelAdmin.css">
</head>

<body>
    <header>
        <nav class="menu">
            <!-- <img src="../assets/logo.png" alt="logo" class="logo"> -->
            <h1 class="title-header">
                Comunidad <span>Conectada</span>
            </h1>
            <ul class="options">
                <a href="">
                    <li>INICIO</li>
                </a>
                <a href="">
                    <li>ANUNCIOS</li>
                </a>
                <a href="">
                    <li>EMPRENDIMIENTOS</li>
                </a>
                <a href="">
                    <li>TRANSPORTE</li>
                </a>
                <a href="">
                    <li>REPORTES</li>
                </a>
                <a>
                    <i class="ri-account-circle-fill icon-profile"></i>
                </a>
            </ul>
            <div class="burger"><i class="ri-menu-line"></i></div>

        </nav>
    </header>


    <main class="status-container">
        <section class="status-filter">
            <h2>Categorías de las Aprobaciones Comunales</h2>
            <button>Todos</button>
            <button>Nuevos</button>
            <button>Aprobados</button>
            <button>Rechazados</button>
        </section>


        <section class="tickets-list">
            <div class="ticket">
                <img src="comunidad-conectada\assets\images\emprendimientos\logos\La Chismosa.png" class="logo-form">
                <p>
                    <span class="ticket-info">Anuncio</span> Para toda la comunidad, no habrá agua disponible durante
                    las
                    próximas horas
                </p>
                <span class="ticket-status">Aprobado</span>
            </div>
            <div class="ticket">
                <img src="comunidad-conectada\assets\images\emprendimientos\logos\La Chismosa.png" class="logo-form">
                <p>
                    <span class="ticket-info">Anuncio</span> Para toda la comunidad, no habrá agua disponible durante
                    las
                    próximas horas
                </p>
                <span class="ticket-status">Aprobado</span>
            </div>

            <div class="ticket">
                <img src="comunidad-conectada\assets\images\emprendimientos\logos\La Chismosa.png" class="logo-form">
                <p>
                    <span class="ticket-info">Emprendimiento</span> La Chismosa
                </p>
                <span class="ticket-status">Rechazado</span>
            </div>
            <div class="ticket">
                <img src="comunidad-conectada\assets\images\emprendimientos\logos\La Chismosa.png" class="logo-form">
                <p>
                    <span class="ticket-info">Reporte</span> Por favor arreglar la señal de transito, ya que alguien se
                    la robó
                </p>
                <span class="ticket-status">Nuevo</span>
            </div>
            <div class="ticket">
                <img src="comunidad-conectada\assets\images\emprendimientos\logos\La Chismosa.png" class="logo-form">
                <p>
                    <span class="ticket-info">Reporte</span> Por favor arreglar la señal de transito, ya que alguien se
                    la robó
                </p>
                <span class="ticket-status">Nuevo</span>
            </div>

            <div class="ticket">
                <img src="comunidad-conectada\assets\images\emprendimientos\logos\La Chismosa.png" class="logo-form">
                <p>
                    <span class="ticket-info">Reporte</span> Por favor arreglar la señal de transito, ya que alguien se
                    la robó
                </p>
                <span class="ticket-status">Nuevo</span>
            </div>

            <div class="ticket">
                <img src="comunidad-conectada\assets\images\emprendimientos\logos\La Chismosa.png" class="logo-form">
                <p>
                    <span class="ticket-info">Reportes</span> Por favor arreglar la señal de transito, ya que alguien se
                    la robó
                </p>
                <span class="ticket-status">Nuevo</span>
            </div>

            <div class="ticket">
                <img src="comunidad-conectada\assets\images\emprendimientos\logos\La Chismosa.png" class="logo-form">
                <p>
                    <span class="ticket-info">Reportes</span> Por favor arreglar la señal de transito, ya que alguien se
                    la robó
                </p>
                <span class="ticket-status">Nuevo</span>
            </div>

            <div class="ticket">
                <img src="comunidad-conectada\assets\images\emprendimientos\logos\La Chismosa.png" class="logo-form">
                <p>
                    <span class="ticket-info">Reportes</span> Por favor arreglar la señal de transito, ya que alguien se
                    la robó
                </p>
                <span class="ticket-status">Nuevo</span>
            </div>

            <div class="ticket">
                <img src="comunidad-conectada\assets\images\emprendimientos\logos\La Chismosa.png" class="logo-form">
                <p>
                    <span class="ticket-info">Reportes</span> prueba, 123 probando si la cantidad de caracteres es
                    suficiente
                </p>
                <span class="ticket-status">Nuevo</span>
            </div>



        </section>
    </main>


    <footer>
        <!--Copyright-->
        <section class="copyright-container">
            <p>Copyright © TITÍ CODE 2025. All Rights Reserved.</p>
        </section>
    </footer>
</body>
</body>

</html>