<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Comunidad Conectada</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="form-emprendimiento.css">
</head>

<body>
    <header>
        <nav class="menu">

            <h1 class="title-header">
                Comunidad <span>Conectada</span>
            </h1>
            <ul class="options">
                <a href="../feed/feed.html">
                    <li>INICIO</li>
                </a>
                <a href="../eventos/eventos.html">
                    <li>EVENTOS</li>
                </a>
                <a href="../anuncios/anuncios.html">
                    <li>ANUNCIOS</li>
                </a>
                <a href="../emprendimientos/emprendimientos-generales.html">
                    <li>EMPRENDIMIENTOS</li>
                </a>
                <a href="../transporte/Transporte.html">
                    <li>TRANSPORTE</li>
                </a>
                <a href="../../forms/form-reportes/formReportes.html">
                    <li>REPORTES</li>
                </a>
                <a>
                    <i class="ri-account-circle-fill icon-profile"></i>
                </a>
            </ul>
            <div class="burger"><i class="ri-menu-line"></i></div>
        </nav>
    </header>

    <main class="contenedor-form">
        <section class="intro-form">
            <h2>¿Tienes un emprendimiento? <span class="resaltado">¡Regístralo aquí!</span></h2>
            <p>
                Este formulario está diseñado para que puedas crear y registrar tu emprendimiento en nuestra plataforma.
                Al completarlo, estarás compartiendo tu proyecto con la comunidad y podrás acceder a oportunidades de
                promoción, apoyo y visibilidad.
            </p>
        </section>

        <form class="formulario-emprendimiento">
            <div class="columna izquierda">
                <label>Nombre del emprendimiento</label>
                <input type="text" required>

                <label>Descripción breve:</label>
                <textarea rows="4" required></textarea>

                <label>Categoría:</label>
                <div class="categorias">
                    <label><input type="checkbox"> Alimentos y bebidas</label>
                    <label><input type="checkbox"> Moda y accesorios</label>
                    <label><input type="checkbox"> Tecnología / Servicios digitales</label>
                    <label><input type="checkbox"> Arte y diseño</label>
                    <label><input type="checkbox"> Educación / Cursos</label>
                    <label><input type="checkbox"> Otro: <input type="text" placeholder="Especificar..."></label>
                </div>
            </div>

            <div class="columna derecha">
                <label>Nombre del emprendedor/a:</label>
                <input type="text" required>

                <label>Correo electrónico de contacto:</label>
                <input type="email" required>

                <label>Número de teléfono (opcional):</label>
                <input type="tel">

                <label>Ubicación:</label>
                <input type="text" required>

                <label>Red social o sitio web (opcional):</label>
                <input type="url">

                <label>Sube una imagen o logo (opcional):</label>
                <input type="file" accept="image/*">

                <p class="nota-final">
                    Al enviar este formulario, tu emprendimiento será revisado por el equipo y publicado próximamente en
                    nuestra plataforma.
                </p>

                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>

    <footer>
        <div class="exterior-site-footer">
            <div class="site-footer">
                <!--Slogan -->

                <section class="slogan-container">
                    <div class="text-logos">
                        <h1>Comunidad <span>Conectada</span></h1>
                        <h3>Fortaleciendo Comunidades, Forjando Conexiones</h3>
                        <p>Somos el sitio web que te permite estar al tanto de los eventos, conocer emprendimientos y al
                            mismo tiempo, ser escuchado(a)...</p>
                    </div>
                </section>
                <section class="links-container">
                    <!--Ayuda-->
                    <div class="ayuda-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>SERVICIOS</h4>
                        </div>
                        <a href="../../public-views/eventos/eventos.html">Eventos</a>
                        <a href="../../forms/form-reportes/formReportes.html">Reportes</a>
                        <a href="../../public-views/calendario/calendario.html">Calendario</a>
                    </div>
                    <!--Comunidad-->
                    <div class="comunidad-container">

                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>COMUNIDAD</h4>
                        </div>

                        <a href="../../public-views/feed/feed.html">Inicio</a>
                        <a href="../../public-views/anuncios/anuncios.html">Anuncios</a>
                        <a href="../../public-views/emprendimientos/emprendimientos-generales.html">Emprendimientos</a>
                        <a href="../../public-views/transporte/Transporte.html">Transporte</a>
                    </div>
                    <!--Contáctenos-->
                    <div class="contactenos-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>CONTÁCTENOS</h4>
                        </div>
                        <div class="contact-info-container">
                            <p href="">Teléfono </p>
                            <p href="">(+506) 2222 2222</p>
                            <p href="">Correo Electrónico</p>
                            <p href="">comu@conectada.com</p>
                        </div>
                    </div>
                </section>

                <!--Redes sociales-->
                <section class="icon-container">
                    <span class="circle"><a href="https://mail.google.com/mail/u/0/#inbox"><i
                                class="ri-at-line"></i></a></span>
                    <span class="circle"><a
                            href="https://api.whatsapp.com/message/TVM3RN532LFSM1?autoload=1&app_absent=0"><i
                                class="ri-phone-line"></i></a></span>
                    <span class="circle"><a
                            href="https://www.facebook.com/p/San-Rafael-es-Pura-Vida-100092185267522/"><i
                                class="ri-facebook-circle-fill"></i></a></span>
                    <span class="circle"><a href="https://www.instagram.com/sanra_es_puravida1885/"><i
                                class="ri-instagram-line"></i></a></span>
                    <span class="circle"><a href="https://x.com/ldacr"><i class="ri-twitter-x-line"></i></a></span>
                </section>
            </div>
        </div>
        <!--Copyright-->
        <section class="copyright-container">
            <p>Copyright © TITÍ CODE 2025. All Rights Reserved.</p>
        </section>
    </footer>
</body>

</html>