<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Comunidad Conectada</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!--Header/Footer CSS-->
    <link rel="stylesheet" href="../../../assets/styles/global.css">
    <link rel="stylesheet" href="form-emprendimiento.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header>
        <nav class="menu">
            <h1 class="title-header">
                Comunidad <span>Conectada</span>
            </h1>
            <ul class="options">
                <a href="../../public-views/feed/feed.html">
                    <li>INICIO</li>
                </a>
                <a href="../../public-views/evento/evento.html">
                    <li>EVENTO</li>
                </a>
                <a href="../../public-views/anuncio/anuncio.html">
                    <li>ANUNCIO</li>
                </a>
                <a href="../../public-views/emprendimiento/emprendimiento.html">
                    <li>EMPRENDIMIENTO</li>
                </a>
                <a href="../form-reporte/form-reporte.html">
                    <li>REPORTES</li>
                </a>
                <a href="../../admin/panel-admin/panel-admin.html">
                    <i class="ri-account-circle-fill icon-profile"></i>
                </a>
                <a>
                    <i class="ri-account-circle-fill icon-profile"></i>
                </a>
            </ul>
            <div class="burger"><i class="ri-menu-line"></i></div>
        </nav>
    </header>

    <main class="form">
        <section class="intro">
            <h2>¿Tienes un emprendimiento? <span class="resaltado">¡Regístralo aquí!</span></h2>
            <p>
                Este formulario está diseñado para que puedas crear y registrar tu emprendimiento en nuestra
                plataforma.<br>
                Al completarlo, estarás compartiendo tu proyecto con la comunidad y podrás acceder a oportunidades
                de<br>
                promoción, apoyo y visibilidad.
            </p>
        </section>

        <form action="#" class="formEmprendimiento" id="formulario">
            <div class="columna1">
                <!-- GRUPO EMPRENDIMIENTO-->
                <div class="formulario-grupo" id="grupo-emprendimiento">
                    <label class="formulario-label">Nombre del emprendimiento</label>
                    <div class="formulario-grupo-input">
                        <input type="text" required class="formulario-input" name="emprendimiento" id="emprendimiento"
                            placeholder="La Chismosa">
                        <i class='formulario-validacion-estado bx bxs-x-circle'></i>
                    </div>
                    <p class="formulario-input-error">
                        El nombre debe tener entre 4 y 40 caracteres. Solo se permiten letras, números y espacios.
                    </p>
                </div>


                <!-- GRUPO DESCRIPCION-->
                <div class="formulario-grupo" id="grupo-descripcion">
                    <label class="formulario-label">Descripción breve:</label>
                    <div class="formulario-grupo-input">
                        <textarea rows="4" required class="formulario-input" name="descripcion"
                            id="descripcion"></textarea>
                        <i class='formulario-validacion-estado bx bxs-x-circle'></i>
                    </div>
                    <p class="formulario-input-error">
                        La descripción debe tener entre 10 y 300 caracteres.
                    </p>
                </div>

                <!-- GRUPO CATEGORIAS -->
                <div class="formulario-grupo" id="grupo-categoria">
                    <label class="formulario-label">Categoría:</label>
                    <div class="categoria-opciones">
                        <label><input type="radio" name="categoria" value="alimentos" required> Alimentos y
                            bebidas</label>
                        <label><input type="radio" name="categoria" value="moda"> Moda y accesorios</label>
                        <label><input type="radio" name="categoria" value="tecnologia"> Tecnología / Servicios
                            digitales</label>
                        <label><input type="radio" name="categoria" value="arte"> Arte y diseño</label>
                        <label><input type="radio" name="categoria" value="educacion"> Educación / Cursos</label>
                        <label><input type="radio" name="categoria" value="otro"> Otro:</label>
                    </div>
                </div>

                <!-- GRUPO OTRO (SOLO SE MUESTRA SI SE ELIGE 'Otro') -->
                <div class="formulario-grupo" id="grupo-otro">
                    <div class="formulario-grupo-input">
                        <input type="text" class="formulario-input" placeholder="Especificar..." name="otro" id="otro">
                        <i class="formulario-validacion-estado bx bxs-x-circle"></i>
                    </div>
                    <p class="formulario-input-error">
                        Si elegiste "Otro", debes especificar la categoría.
                    </p>
                </div>


                <!-- GRUPO USUARIO-->
                <div class="formulario-grupo" id="grupo-nombre">
                    <label class="formulario-label">Nombre del emprendedor/a:</label>
                    <input type="text" required class="formulario-input" name="nombre" id="nombre">
                    <i class='formulario-validacion-estado bx bxs-x-circle'></i>
                    <p class="formulario-input-error">
                        El nombre debe contener entre 4 y 40 caracteres. Solo letras y espacios.
                    </p>
                </div>


            </div>

            <div class="columna2">



                <!-- GRUPO CORREO-->
                <div class="formulario-grupo" id="grupo-correo">
                    <label class="formulario-label">Correo electrónico de contacto:</label>
                    <input type="email" required class="formulario-input" name="correo" id="correo">
                    <i class='formulario-validacion-estado bx bxs-x-circle'></i>
                    <p class="formulario-input-error">
                        Debes ingresar un correo válido. Ejemplo: usuario@dominio.com
                    </p>
                </div>


                <!-- GRUPO NUMERO-->
                <div class="formulario-grupo" id="grupo-telefono">
                    <label class="formulario-label">Número de teléfono:</label>
                    <input type="tel" required class="formulario-input" name="telefono" id="telefono">
                    <i class='formulario-validacion-estado bx bxs-x-circle'></i>
                    <p class="formulario-input-error">
                        El número debe tener 8 dígitos y solo contener números.
                    </p>
                </div>


                <!-- GRUPO UBICACION-->
                <div class="formulario-grupo" id="grupo-ubicacion">
                    <label class="formulario-label">Ubicación:</label>
                    <div class="formulario-grupo-input">
                        <input type="text" required class="formulario-input" name="ubicacion" id="ubicacion">
                        <i class='formulario-validacion-estado bx bxs-x-circle'></i>
                    </div>
                    <p class="formulario-input-error">
                        La ubicación no puede estar vacía y debe tener al menos 4 caracteres.
                    </p>
                </div>

                <div class="formulario-grupo">
                    <label class="formulario-label">Red social o sitio web (opcional):</label>
                    <input type="url" class="formulario-input">
                </div>

                <div class="formulario-grupo">
                    <label class="formulario-label">Sube una imagen o logo (opcional):</label>
                    <input type="file" class="formulario-input" accept="image/*">
                </div>

                <p class="notaFinal">
                    Al enviar este formulario, tu emprendimiento será revisado por el equipo y publicado próximamente en
                    nuestra plataforma.
                </p>

                <!-- GRUPO TERMINOS Y CONDICIONES-->
                <div class="formulario-grupo formulario-grupo-terminos" id="grupo-terminos">
                    <label class="formulario-label">
                        <input type="checkbox" class="formulario-checkbox" name="terminos" id="terminos">
                        <b class="formulario-span">Acepto los terminos y condiciones</b>
                    </label>
                </div>

                <!-- GRUPO DE CAMPOS REQUERIDOS-->
                <div class="formulario-mensaje " id="formulario-mensaje">
                    <p><i class='bx bxs-ghost'>Por favor, completá correctamente todos los campos obligatorios antes de
                            enviar.</i></p>
                </div>
                <p class="formulario-mensaje-exito" id="formulario-mensaje-exito">El formulario se envió correctamente
                </p>

                <!-- GRUPO BOTON ENVIAR-->
                <div class="formulario-grupo" id="formulario-grupo-btn-enviar">
                    <input type="submit" class="formulario-btn" value="Enviar">
                </div>
            </div>
        </form>


    </main>


    <!--BORRAR 💀-->
    <!-- <section>
        <img src="../assets/beni.png" alt="" srcset="">
        <img src="../assets/beni.png" alt="" srcset="">
        <img src="../assets/beni.png" alt="" srcset="">
        <img src="../assets/beni.png" alt="" srcset="">
        <img src="../assets/messi.jpg" alt="" srcset="">
        <img src="../assets/beni.png" alt="" srcset="">
        <img src="../assets/beni.png" alt="" srcset="">
        <img src="../assets/beni.png" alt="" srcset="">
        <img src="../assets/beni.png" alt="" srcset="">
    </section> -->


    <footer>
        <div class="exterior-site-footer">
            <div class="site-footer">
                <!--Slogan -->

                <section class="slogan-container">
                    <div class="text-logos">
                        <h1>Comunidad <span>Conectada</span></h1>
                        <h3>Fortaleciendo Comunidades, Forjando Conexiones</h3>
                        <p>Somos el sitio web que te permite estar al tanto de los evento, conocer emprendimiento y al
                            mismo tiempo, ser escuchado(a)...</p>
                    </div>
                </section>
                <section class="links-container">
                    <!--Ayuda-->
                    <div class="ayuda-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>SERVICIOS</h4>
                        </div>
                        <a href="../../public-views/evento/evento.html">Evento</a>
                        <a href="../../forms/form-reporte/form-reporte.html">Reportes</a>
                        <a href="../../public-views/calendario/calendario.html">Calendario</a>
                    </div>
                    <!--Comunidad-->
                    <div class="comunidad-container">

                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>COMUNIDAD</h4>
                        </div>

                        <a href="../../public-views/feed/feed.html">Inicio</a>
                        <a href="../../public-views/anuncio/anuncio.html">Anuncio</a>
                        <a href="../../public-views/emprendimiento/emprendimiento.html">Emprendimiento</a>
                        <a href="../../public-views/transporte/transporte.html">Transporte</a>
                    </div>
                    <!--Contáctenos-->
                    <div class="contactenos-container">
                        <div class="arrow-container">
                            <i class="ri-arrow-drop-down-line"></i>
                            <h4>CONTÁCTENOS</h4>
                        </div>
                        <div class="contact-info-container">
                            <p href="">Teléfono </p>
                            <p href="">(+506) 2222 2222</p>
                            <p href="">Correo Electrónico</p>
                            <p href="">comu@conectada.com</p>
                        </div>
                    </div>
                </section>

                <!--Redes sociales-->
                <section class="icon-container">
                    <span class="circle"><a href="https://mail.google.com/mail/u/0/#inbox"><i
                                class="ri-at-line"></i></a></span>
                    <span class="circle"><a
                            href="https://api.whatsapp.com/message/TVM3RN532LFSM1?autoload=1&app_absent=0"><i
                                class="ri-phone-line"></i></a></span>
                    <span class="circle"><a
                            href="https://www.facebook.com/p/San-Rafael-es-Pura-Vida-100092185267522/"><i
                                class="ri-facebook-circle-fill"></i></a></span>
                    <span class="circle"><a href="https://www.instagram.com/sanra_es_puravida1885/"><i
                                class="ri-instagram-line"></i></a></span>
                    <span class="circle"><a href="https://x.com/ldacr"><i class="ri-twitter-x-line"></i></a></span>
                </section>
            </div>
        </div>
        <!--Copyright-->
        <section class="copyright-container">
            <p>Copyright © TITÍ CODE 2025. All Rights Reserved.</p>
        </section>
    </footer>
    <script src="form-emprendimiento.js"></script>
</body>

</html>